
@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.PaymentOrder;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3" id="div_ContentData">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Men_StkDefStore</label>
                            <div class="col-8 ">
                                <select class="form-control" id="drp_G_Store">
                                    <option value="null">@SystemResource.App_Store</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtStartDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtEndDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.CostCenter</label>
                            <div class="col-8 ">
                                <select id="drp_C_Center" class="form-control">
                                    <option value="null">@SystemResource.CostCenter</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.PaymentTypes</label>
                            <div class="col-8 ">
                                <select id="drp_Pay_Type" class="form-control">
                                    <option value="null">@SystemResource.PaymentTypes</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Status</label>
                            <div class="col-8 ">
                                <select id="drp_Status" class="form-control input-sm">
                                    <option value="null">@SystemResource.App_All</option>
                                    <option value="0">@SystemResource.App_Not_Certified</option>
                                    <option value="1">@SystemResource.App_Certified</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="id_divMasterGrid">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="txtSearch" type="text" class="form-control">
                        </div>
                    </div>
                    <!-- Table  -->
                    <div id="divMasterGrid"></div>
                   
                </div>
            </div>

        </div>
        <!-- Details  -->
        <div id="id_divGridDetails" class="row display_none">
            <div id="div_Master_Hedr" class="col-12 service-content">
                <div class="serviceBox" id="div_Master">
                    <div class="row ">
                        <div class="col-12 col-md-3">
                            <div class="form-group row ">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_Number</label>
                                <div class="col-8 col-md-7 ">
                                    <input disabled type="text" class="form-control" id="txtTr_No" name="Tr_No">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_date </label>
                                <div class="col-8 col-md-7 ">
                                    <input disabled type="date" class="form-control" id="txTrDate" name="TrDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group row ">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_Store </label>
                                <div class="col-8 col-md-7 ">
                                    <select id="txtStoreID" name="StoreID" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 ">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Certified</label>
                                <div class="col-2 col-md-8 ps-5">
                                    <input type="checkbox" class="checkbox" id="chkStatus"  name="Status">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group row ">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_ReferenceNumber</label>
                                <div class="col-8 col-md-7 ">
                                    <input disabled type="text" class="form-control" name="RefNo" id="txRefNo">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.CostCenter</label>
                                <div class="col-8 col-md-7 ">
                                    <select id="ddl_C_center" name="CC_CODE" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group row ">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.PaymentTypes</label>
                                <div class="col-8 col-md-7 ">
                                    <select id="ddl_PaymentType" name="IssueTypeID" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row  ">
                                <label id="LabtxtRemarks" class="col-4 col-md-1  align-self-center p-md-0">@SystemResource.App_Notes</label>
                                <div class="col-8 col-md-11 ">
                                    <textarea rows="2" type="text" class="form-control" disabled name="Remark" id="txtRemark"> </textarea>
                                </div>
                            </div>
                        </div>
                        <input type="number" name="StoreCode" class="display_none" id="txtStoreCode" />
                    </div>
                </div>

            </div>
            <!-- Inside Table  -->
            <div class="inside-table my-4">
                <div class="table-responsive">
                    <table class="table table-borderless ">
                        <thead>
                            <tr>
                                <th style="width: 5%"></th>
                                <th style="width: 5%"> @SystemResource.serial</th>
                                <th style="width: 5%"></th>
                                <th style="width: 20%">@SystemResource.Itm_ItemCode</th>
                                <th style="width: 40%"> @SystemResource.App_Item</th>
                                <th style="width: 10%" class="text-wrap">@SystemResource.Itm_Uom</th>
                                <th style="width: 10%" class="text-wrap"> @SystemResource.App_Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="div_Data"></tbody>

                    </table>
                    <div class="d-flex justify-content-start mr-1">
                        <span id="btnAddDetails" class="mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                    </div>
                </div>
            </div>
            <!-- Editors Details -->
            <div class="insettext row editor-details mt-2">
                <div class="col-12 col-lg-6">

                    <div class="form-group row g-0">
                        <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                        <div class="col-4 col-xl-4 editor-input">
                            <input id="txtCreatedBy" name="CreatedBy" type="text" disabled>
                        </div>
                        <div class="col-4 col-xl-6 editor-input">
                            <input id="txtCreatedAt" name="CreatedAt" type="text" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group row g-0">
                        <label class="col-4 col-xl-2 align-self-center p-md-0"> @SystemResource.App_Update </label>
                        <div class="col-4 col-xl-4 editor-input">
                            <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled>
                        </div>
                        <div class="col-4 col-xl-6 editor-input">

                            <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Script{
    <script src="~/ClientApp/StkDefinition/IssueToCC.js"></script>
}

