@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3" id="div_ALLData">
    <!-- Filter Container -->
    <div class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_PeriodName</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control" name="" id="txtPerDesc">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_PeriodLong</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control" name="" id="txtPerLong">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row ">
                            <div class="col-4 offset-4">
                                <div class="form-check d-inline-flex mt-0">
                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Day" name="RD" value="1">
                                    <label class="form-check-label special-label" for="Rd_Day"> @SystemResource.App_Day </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check d-inline-flex mt-0">
                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Month" name="RD" value="2">
                                    <label class="form-check-label special-label" for="Rd_Month"> @SystemResource.App_Month</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="d-flex justify-content-end">
                            <button id="btnGen" type="button" class="btn btn-main">
                                @SystemResource.App_GeneratePer
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <!-- Search Table -->
        <div class="card bg-light-blue">
            <div class="card-body">
                <!-- Table  -->
                <table id="ReportGrid" class="text-center"></table>
            </div>
        </div>
    </div>
</div>




@section Script{
    <script src="~/ClientApp/StkDefinition/PeriodManagement.js"></script>
    }
