@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_StkDefItems;
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row gy-3 " id="div_ContentData">
    <!-- Filter Container -->
    <div class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Men_StkDefStore</label>
                            <div class="col-9 col-md-8 ">
                                <select class="form-control" id="drp_G_Store">
                                    <option value="null">@SystemResource.Men_StkDefStore</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.APP_Category</label>
                            <div class="col-9 col-md-8 ">
                                <select class="form-control" id="drpPaymentType">
                                    <option value="null">@SystemResource.APP_Category</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Type</label>
                            <div class="col-9 col-md-8 ">
                                <select class="form-control" id="drpitem_family">
                                    <option value="null">@SystemResource.App_Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.APP_Stoke</label>
                            <div class="col-9 col-md-8 ">
                                <select id="drp_StocK" class="form-control">
                                    <option value="All">@SystemResource.App_All</option>
                                    <option value=">"> @SystemResource.His_stoke</option>
                                    <option value="=">  @SystemResource.Zero_Stoke</option>
                                    <option value="<"> @SystemResource.Exposed_balance</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table  -->
    <div class="col-12 display_none" id="divShow">
        <div class="inside-table my-4">
            <div class="table-responsive">
                <table class="table table-borderless ">
                    <thead>
                        <tr id="div_Data_devolte">
                            <th style="width: 2%"></th>
                            <th style="width: 5%"> @SystemResource.App_Code </th>
                            <th style="width: 10%"> @SystemResource.App_DescA</th>
                            <th style="width: 10%">@SystemResource.APP_Category </th>
                            <th style="width: 10%"> @SystemResource.App_Type</th>
                            <th style="width: 5%">@SystemResource.App_AvailableQuantity</th>
                            <th style="width: 5%" >@SystemResource.App_Price</th>
                            <th style="width: 5%">@SystemResource.App_LessPrice</th>
                            <th style="width: 5%">@SystemResource.App_MeasuringUnit</th>
                            <th style="width: 10%">@SystemResource.App_DescE</th>
                            <th style="width: 3%"> فعال ؟ </th>
                        </tr>
                    </thead>
                    <tbody id="div_Data"></tbody>

                </table>
                <div class="d-flex justify-content-start mr-1">
                    <span id="btnAddDetails" class="mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                </div>
            </div>
        </div>
    </div>

</div>

@section Script{
<script src="~/ClientApp/StkDefinition/StkDefItems.js"></script>
}

