@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccTrReceiptNote;
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row gy-3 " id="informtionReserved">
    <!-- Filter Container -->
    <div id="id_div_Filter" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Cashbox  </label>
                            <div class="col-8">
                                <select id="txt_D_CashBoxF" name="" class="form-control">
                                    <option value="Null"> @SystemResource.App_Cashbox  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtDateFrom">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtDateTo">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> نوع النقد  </label>
                            <div class="col-8">
                                <select id="txtCashTypeF" name="" class="form-control">
                                    <option value="Null">   @SystemResource.select_type_restrection </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Drainage_Type  </label>
                            <div class="col-8">
                                <select id="txt_ReceiptNoteF" name="" class="form-control">
                                    <option value="Null">  @SystemResource.App_Drainage_Type  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Status </label>
                            <div class="col-8">
                                <select id="txt_Status" name="" class="form-control  text_Display">
                                    <option value="All">  @SystemResource.App_Everybody   </option>
                                    <option value="1">  @SystemResource.App_Certified  </option>
                                    <option value="0">  @SystemResource.App_Not_Certified  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 pe-md-0">
                        <div class="form-group row  d-flex justify-content-center align-items-center">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_beneficiary</label>
                            <div class="col-8 pe-md-0">
                                <div class="search-content">
                                    <input type="text" class="form-control search-control display_none" id="txt_BenIDF">
                                    <input type="text" class="form-control search-control" id="txt_BenCodeF">
                                    <button type="button" id="btnBenF" name="ColSearch" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <div class="col-8 offset-4 offset-md-0 col-md-12">
                                <input type="text" class="form-control" disabled name="" id="txt_BenNameF">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <div class="col-4 ">

                            </div>
                            <div class="col-8 ">
                                <button id="btnPrintsFrom_To" type="button" class="btn btn-main">
                                    <span class="adminpro-icon adminpro-paint-roller"></span>
                                    تنزيل ملف بطباعة الحركة المختارية
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Search Table -->
        <div class="display_none" id="id_ReportGrid">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="searchbutmemreport" type="text" class="form-control" placeholder="بحث : ">
                        </div>
                    </div>
                    <!-- Table  -->
                    <div id="ReportGrid"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Details  Container -->
    <div class="col-12">
        <!-- Details  -->
        <div id="Div_control" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row ">
                        <div class="d-flex mb-4">
                            <button id="btnPrintslip" type="button" class="btn btn-main">
                                @SystemResource.App_Print_slip
                            </button>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Number</label>
                                        <div class="col-8 col-md-8 ">
                                            <input id="ReceiptID" disabled name="ReceiptID" type="number" class="display_none form-control" placeholder="@SystemResource.App_Number">
                                            <input id="txt_CODE" disabled name="TrNo" type="number" class="form-control" placeholder="@SystemResource.App_Number">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_date</label>
                                        <div class="col-8 col-md-8 ">
                                            <input name="TrDate" id="txtTrDate" disabled type="date" class="form-control _dis" placeholder="@SystemResource.App_Number">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Cashboxpay</label>
                                        <div class="col-8 col-md-8 ">
                                            <select id="txt_D_CashBoxH" name="CashBoxID" class="form-control _dis">
                                                <option value="Null"> @SystemResource.App_Cashboxpay  </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-2  offset-l">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Certified</label>
                                        <div class="col-2 col-md-8">
                                            <input type="checkbox" class="checkbox" id="chkStatus">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">نوع النقد</label>
                                        <div class="col-8 col-md-8 ">
                                            <select id="txtCashTypeH" name="CashType" class="form-control _dis text_Display">
                                                <option value="Null">   أختر نوع القيد </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Drainage_Type</label>
                                        <div class="col-8 col-md-8 ">
                                            <select id="txt_ReceiptNoteH" name="RecPayTypeId" class="_dbd form-control _dis text_Display">
                                                <option value="Null">   @SystemResource.App_Drainage_Type </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Registration_Number</label>
                                        <div class="col-8 col-md-8 ">
                                            <input id="txt_VoucherNo" disabled name="VoucherNo" type="text" class="form-control" placeholder="@SystemResource.App_Registration_Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row  d-flex justify-content-center align-items-center">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_beneficiary</label>
                                        <div class="col-8 col-md-8 pe-0">
                                            <div class="search-content">
                                                <input type="text" class="form-control search-control display_none" id="txt_BenIDH">
                                                <input disabled type="text" class="_dis form-control search-control" id="txt_BenCodeH">
                                                <button type="button" name="ColSearch" id="btnBenH" class=" _dis btn btn-main btn-search">
                                                    <i class="fas fa-search ms-n1 mt-n1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <div class="col-8 col-md-12 offset-4 offset-md-0 ps-0">
                                            <input type="text" class="form-control " disabled name="" id="txt_BenNameH">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Balanc </label>
                                        <div class="col-8 col-md-8 ">
                                            <input id="txt_OpenbalanceH" disabled name="" type="text" class="form-control" placeholder="@SystemResource.App_Balanc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Amount </label>
                                        <div class="col-8 col-md-8 ">
                                            <input id="txt_Amount" disabled name="Amount" type="number" class="form-control" placeholder=" @SystemResource.App_Amount  ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 _Cash">
                                    <div class="form-group row ">
                                        <label id="La_CashAmount" class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Cash </label>
                                        <div class="col-8 col-md-8 ">
                                            <input id="txt_CashAmount" disabled name="CashAmount" type="number" class="  _dis form-control" placeholder="@SystemResource.App_Cash ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 _Card">
                                    <div class="form-group row ">
                                        <label id="La_CardAmount" class="col-4 col-md-3 align-self-center p-md-0">شبكه </label>
                                        <div class="col-8 col-md-9 ">
                                            <input id="txt_CardAmount" disabled name="CardAmount" type="number" class=" _dis form-control" placeholder="شبكه ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group row ">
                                <label class="col-4 col-md-1 align-self-center p-md-0">وصف الصرف</label>
                                <div class="col-8 col-md-9 ">
                                    <textarea id="txt_ReceiptDesc" disabled name="ReceiptDescA" type="text" class="_dis form-control " maxlength="200" placeholder="وصف الصرف"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 col-lg-3 align-self-center p-md-0">@SystemResource.transfer_check </label>
                                        <div class="col-8 col-md-9 col-lg-7 ">
                                            <input id="txt_CheckNo" disabled name="CheckNo" type="text" class="_dis_Bank form-control " placeholder="   @SystemResource.check">
                                            <input id="txt_TransferNo" disabled name="TransferNo" type="text" class="_dis_Bank form-control display_none " placeholder="  @SystemResource.transfer">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">صرف الي بنك </label>
                                        <div class="col-8 col-md-9 ">
                                            <input id="txt_BankName" disabled name="BankName" type="text" class="_dis_Bank form-control" placeholder="صرف الي بنك  ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">حساب الصرف </label>
                                        <div class="col-8 col-md-9 ">
                                            <select id="txt_BankAcc_Code" disabled name="BankAcc_Code" class="_dbd _dis_Bank form-control">
                                                <option value="Null">@SystemResource.Deposit_account</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group row ">
                                <label class="col-4 col-md-1 align-self-center p-md-0">@SystemResource.App_Notes </label>
                                <div class="col-8 col-md-11 ">
                                    <textarea id="txt_note" disabled name="Remarks" type="text" class="_dis form-control " maxlength="200" placeholder="@SystemResource.App_Notes"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3 display_none" id="Bank_Div">
                            <div class="div-label">بيانات </div>
                            <div class="row div-border py-3">


                                <div class="col-12 col-md-2 ">
                                    <div class="form-group row ">
                                        <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Delayed</label>
                                        <div class="col-2 col-md-8">
                                            <input type="checkbox" class="checkbox" id="chkIsDeffered" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 col-lg-4 align-self-center p-md-0">@SystemResource.due_date</label>
                                        <div class="col-8 col-md-9 col-lg-7 ">
                                            <input type="date" disabled class="_dis form-control" name="DueDate" id="txtDueDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    @* Empty Space for Responsive Layout *@
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3" id="Charge_Div">
                            <div class="div-label">رسوم بنكية </div>
                            <div class="row div-border py-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">بنك الصرف </label>
                                                <div class="col-8  ">
                                                    <select id="dbChargeBank" disabled name="ChargeProviderID" class="Charge_db _dbd _dis form-control">
                                                        <option value="Null"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">رقم المرجع</label>
                                                <div class="col-8  ">
                                                    <input id="txtChargesTrNo" disabled name="ChargeInvoiceNo" type="text" class="_dis form-control" placeholder="رقم الفاتورة">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">نوع الضريبة  </label>
                                                <div class="col-8  ">
                                                    <select id="dbChargeVatType" disabled name="ChargeVatType" class="Charge_db _dbd _dis form-control">
                                                        <option value="null">اختر النوع</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">المبلغ </label>
                                                <div class="col-8  ">
                                                    <input id="txtCharges" disabled name="Charges" type="number" class="_dis form-control" placeholder="المبلغ">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0"> الضريبة  </label>
                                                <div class="col-8  ">
                                                    <input id="txtChargesVatPrc" disabled name="ChargesVatPrc" type="number" class="  form-control display_none" placeholder="">
                                                    <input id="txtChargesVat" disabled name="ChargesVat" type="number" class=" form-control" placeholder="الضريبة">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0"> الصافى  </label>
                                                <div class="col-8  ">
                                                    <input id="txtChargeWithVat" disabled name="ChargeWithVat" type="number" class="_dis form-control" placeholder="الصافى">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3" id="Provider_Div">
                            <div class="div-label"> مزود الخدمة </div>
                            <div class="row div-border py-3">

                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0"> نوع الضريبة  </label>
                                                <div class="col-8  ">
                                                    <select id="dbProviderVatType" disabled name="ProviderVatType" class="Prov_db _dbd _dis form-control">
                                                        <option value="null">اختر النوع</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">  قيمة الضريبة  </label>
                                                <div class="col-8  ">
                                                    <input id="txtProviderVatPrc" disabled name="ProviderVatPrc" type="text" class="display_none form-control" placeholder="">
                                                    <input id="txtProviderVatAmount" disabled name="ProviderVatAmount" type="text" class=" form-control" placeholder=" قيمة الضريبة">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0"> القيمة قبل الضريبة  </label>
                                                <div class="col-8  ">
                                                    <input id="txtProviderAmountBeforeVat" disabled name="ProviderAmountBeforeVat" type="text" class="  form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row  d-flex justify-content-center align-items-center">
                                                <label class="col-4 col-md-4 align-self-center p-md-0">المورد</label>
                                                <div class="col-8 col-md-8 pe-0">
                                                    <div class="search-content">
                                                        <input type="text" class="form-control search-control display_none" name="ProviderID" id="txtProviderID">
                                                        <input disabled type="text" class="_dis form-control search-control" id="txtProviderCode">
                                                        <button type="button" name="ColSearch" id="btnProv" class=" _dis btn btn-main btn-search">
                                                            <i class="fas fa-search ms-n1 mt-n1"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <div class="col-8 col-md-12 offset-4 offset-md-0 ps-0">
                                                    <input type="text" class="_dis form-control " placeholder="الأســم" disabled name="ProviderName" id="txtProviderName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">الرقم الضريبى  </label>
                                                <div class="col-8  ">
                                                    <input id="txtProviderVatNo" disabled name="ProviderVatNo" type="text" class="_dis form-control" placeholder="الرقم الضريبى">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0"> رقم الفاتورة </label>
                                                <div class="col-8  ">
                                                    <input id="txtProviderInvoiceNo" disabled name="ProviderInvoiceNo" type="text" class="_dis form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">تاريخ الفاتورة  </label>
                                                <div class="col-8  ">
                                                    <input id="txtProviderIndDate" disabled name="ProviderIndDate" type="date" class="_dis form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-4  align-self-center p-md-0">   مركز التكلفة  </label>
                                                <div class="col-8  ">
                                                    <select id="dbCC_Code" disabled name="CC_Code" class="Prov_db _dbd _dis form-control">
                                                        <option value="null">اختر التكلفة</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-lg-6">

                                <div class="form-group row ">
                                    <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                                    <div class="col-4 col-xl-4 px-0 editor-input">
                                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 px-0 editor-input">
                                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row ">
                                    <label class="col-4 col-xl-2 align-self-center p-md-0"> @SystemResource.App_Update </label>
                                    <div class="col-4 col-xl-4 px-0 editor-input">
                                        <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 px-0 editor-input">

                                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script>
        $(document).ready(function () {
            //$("#txt_D_CashBox").select2();
            $('#but_read').click(function () {
                //var username = $('#txt_D_CashBox option:selected').text();
                //var userid = $('#txt_D_CashBox').val();
                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script>
        $('#lepnotifications').on('click', function () {
            $('#divnotifications').toggleClass('showdiv');
            $('#spanlepnotifications').toggleClass('fa-caret-left');
            $('#spanlepnotifications').toggleClass('fa-caret-down');
        });
    </script>
    <script src="~/ClientApp/FundMovement/AccTrPaymentNoteNew.js"></script>
}
