@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccTrVendorAdjust;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3 " id="informtionReserved">
    <!-- Filter Container -->
    <div id="id_div_Add" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_MovementType  </label>
                            <div class="col-8">
                                <select id="txt_Movement_type" name="" class="form-control">
                                    <option value="Null"> @SystemResource.App_MovementType  </option>
                                    <option value="true">@SystemResource.App_Debtor  </option>
                                    <option value="false"> @SystemResource.App_Creditor  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtDateFrom">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtDateTo">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Settlement_type  </label>
                            <div class="col-8">
                                <select id="txt_Settlement_type" name="" class="form-control"> </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row  d-flex justify-content-center align-items-center">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Men_AccDefVendor  </label>
                            <div class="col-8">
                                <div class="search-content">
                                    <input type="text" class="form-control search-control" name="" id="txt_VndCodeH" >
                                    <button type="button" id="btnVndH" name="ColSearch" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="align-self-center p-md-0"></label>
                            <div class="col-8 offset-4 col-md-12 offset-md-0">
                                <input type="text" class="form-control" disabled name="" id="txt_VndNameH">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Status   </label>
                            <div class="col-8">
                                <select id="txt_Status" name="" class="form-control">
                                    @*<option value="Null">  @SystemResource.App_ChoStatus  </option>*@
                                    <option value="2">  @SystemResource.App_Everybody   </option>
                                    <option value="1">  @SystemResource.App_Certified  </option>
                                    <option value="0">  @SystemResource.App_Not_Certified  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Container -->
    <div class="col-12">

        <!--Search Table-->
        <div class="display_none" id="id_ReportGrid">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="searchbutmemreport" type="text" class="form-control">
                        </div>
                    </div>
                    <!-- Table  -->
                    <div id="ReportGrid"></div>
                </div>
            </div>
        </div>
        <div id="Div_control" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row ">
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Number   </label>
                                <div class="col-8">
                                    <input id="txt_CODE" disabled name="TrNo" type="text" class="form-control" placeholder="@SystemResource.App_Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_date  </label>
                                <div class="col-8">
                                    <input type="date" disabled class="form-control" name="TrDate" id="txtDateNew">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 ">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Certified</label>
                                <div class="col-2 col-md-8">
                                    <input type="checkbox" class="checkbox" id="chkStatus">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_MovementType </label>
                                <div class="col-8 ">
                                    <select id="txt_Movement_typeNew" name="" class="form-control" disabled>
                                        <option value="Null">@SystemResource.App_MovementType  </option>
                                        <option value="true">@SystemResource.App_Debtor</option>
                                        <option value="false">@SystemResource.App_Creditor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Registration_Number     </label>
                                <div class="col-8">
                                    <input id="txt_VoucherNo" disabled name="VoucherNo" type="text" class="form-control" placeholder="@SystemResource.App_Registration_Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_Settlement_type </label>
                                <div class="col-8 ">
                                    <select id="txt_Settlement_typeNew" name="" class="form-control" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row  d-flex justify-content-center align-items-center">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.Men_AccDefVendor   </label>
                                <div class="col-8">
                                    <div class="search-content">
                                        <input type="text" class="form-control search-control" id="txt_VndCode" name="CustomerCODE" disabled>
                                        <button type="button" id="btnVnd" name="ColSearch" disabled class="btn btn-main btn-search">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row">
                                <label class="align-self-center p-md-0"></label>
                                <div class="col-8 offset-4 col-md-12 offset-md-0">
                                    <input type="text" class="form-control" id="txt_VndName" name="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Balanc  </label>
                                <div class="col-8">
                                    <input id="txt_Openbalance" disabled name="" type="text" class="form-control" placeholder="@SystemResource.App_Balanc">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Amount  </label>
                                <div class="col-8">
                                    <input id="txt_Amount" disabled name="Amount" type="number" class="form-control" placeholder=" @SystemResource.App_Amount  ">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_TaxType  </label>
                                <div class="col-8 ">
                                    <select id="txt_Type_of_tax" name="" class="form-control" disabled>
                                        <option value="Null"> @SystemResource.App_TaxType  </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Tax</label>
                                <div class="col-8">
                                    <input id="txt_The_tax_amount" disabled name="VatAmount" type="text" class="form-control" placeholder=" @SystemResource.App_Tax   ">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_TotAfterTax</label>
                                <div class="col-8">
                                    <input id="txt_Total_after_tax" disabled name="NetAfterVAT" type="text" class="form-control" placeholder=" @SystemResource.App_TotAfterTax   ">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Description_settlement </label>
                                <div class="col-8">
                                    <input id="txt_ReceiptDesc" disabled name="AdjustDescA" type="text" class="form-control" placeholder="@SystemResource.App_Description_settlement">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row ">
                                <label class="col-4 col-md-1 align-self-center p-md-0"> @SystemResource.App_Notes </label>
                                <div class="col-8 col-md-11">
                                    <textarea id="txt_note" disabled name="Remarks" type="text" class="form-control   " placeholder="@SystemResource.App_Notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Create</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtUpdatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script>
        $(document).ready(function () {

            // Initialize select2
            $("#txt_Movement_type").select2();

            $("#txt_Settlement_type").select2();
            $("#txt_ID_Custm").select2();


            // Read selected option
            $('#but_read').click(function () {
                var username = $('#txt_Movement_type option:selected').text();
                var userid = $('#txt_Movement_type').val();

                var username = $('#txt_Settlement_type option:selected').text();
                var userid = $('#txt_Settlement_type').val();

                var username = $('#txt_ID_Custm option:selected').text();
                var userid = $('#txt_ID_Custm').val();




                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script>

        $('#lepnotifications').on('click', function () {
            $('#divnotifications').toggleClass('showdiv');
            $('#spanlepnotifications').toggleClass('fa-caret-left');
            $('#spanlepnotifications').toggleClass('fa-caret-down');

        });

    </script>
    <script src="~/ClientApp/FundMovement/AccTrVendorAdjust.js"></script>
}