@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccTrReceiptNote;
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row gy-3 " id="informtionReserved">
    <!-- Filter Container -->
    <div id="id_div_Filter" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Cashbox  </label>
                            <div class="col-8">
                                <select id="txt_D_CashBoxF" name="" class="form-control">
                                    <option value="Null"> @SystemResource.App_Cashbox  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtDateFrom">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtDateTo">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> نوع النقد  </label>
                            <div class="col-8">
                                <select id="txtCashTypeF" name="" class="form-control">
                                    <option value="Null">   @SystemResource.select_type_restrection </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Receipt_Type  </label>
                            <div class="col-8">
                                <select id="txt_ReceiptNoteF" name="" class="form-control">
                                    <option value="Null">  @SystemResource.App_Receipt_Type  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Status </label>
                            <div class="col-8">
                                <select id="txt_Status" name="" class="form-control  text_Display">
                                    <option value="All">  @SystemResource.App_Everybody   </option>
                                    <option value="1">  @SystemResource.App_Certified  </option>
                                    <option value="0">  @SystemResource.App_Not_Certified  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 pe-md-0">
                        <div class="form-group row  d-flex justify-content-center align-items-center">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_beneficiary</label>
                            <div class="col-8 pe-md-0">
                                <div class="search-content">
                                    <input type="text" class="form-control search-control display_none" id="txt_BenIDF">
                                    <input type="text" class="form-control search-control" id="txt_BenCodeF">
                                    <button type="button" id="btnBenF" name="ColSearch" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <div class="col-8 offset-4 offset-md-0 col-md-12">
                                <input type="text" class="form-control" disabled name="" id="txt_BenNameF">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <div class="col-4 ">

                            </div>
                            <div class="col-8 ">
                                <button id="btnPrintsFrom_To" type="button" class="btn btn-main">
                                    <span class="adminpro-icon adminpro-paint-roller"></span>
                                    تنزيل ملف بطباعة الحركة المختارية
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Search Table -->
        <div class="display_none" id="id_ReportGrid">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="searchbutmemreport" type="text" class="form-control" placeholder="بحث : ">
                        </div>
                    </div>
                    <!-- Table  -->
                    <div id="ReportGrid"></div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Details  Container -->
    <div class="col-12">
        <!-- Details  -->
        <div id="Div_control" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row ">
                        <div class="d-flex mb-4">
                            <button id="btnPrintslip" type="button" class="btn btn-main">
                                @SystemResource.App_Print_slip
                            </button>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_Number</label>
                                        <div class="col-8 col-md-7 ">
                                            <input id="ReceiptID" disabled name="ReceiptID" type="number" class="display_none form-control" placeholder="@SystemResource.App_Number">
                                            <input id="txt_CODE" disabled name="TrNo" type="number" class="form-control" placeholder="@SystemResource.App_Number">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.App_date</label>
                                        <div class="col-8 col-md-9 ">
                                            <input name="TrDate" id="txtTrDate" disabled type="date" class="form-control _dis" placeholder="@SystemResource.App_Number">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 col-lg-4 align-self-center p-md-0">@SystemResource.App_Reciept_Box</label>
                                        <div class="col-8 col-md-9 col-lg-8 ">
                                            <select id="txt_D_CashBoxH" name="CashBoxID" class="form-control _dis">
                                                <option value="Null"> @SystemResource.App_Cashbox  </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-2  offset-l">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-4 align-self-center p-md-0">@SystemResource.App_Certified</label>
                                        <div class="col-2 col-md-8">
                                            <input type="checkbox" class="checkbox" id="chkStatus">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 col-lg-5 align-self-center p-md-0">نوع النقد</label>
                                        <div class="col-8 col-md-9 col-lg-7 ">
                                            <select id="txtCashTypeH" name="CashType" class="form-control _dis text_Display">
                                                <option value="Null">   أختر نوع القيد </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.App_Receipt_Type</label>
                                        <div class="col-8 col-md-9 ">
                                            <select id="txt_ReceiptNoteH" name="RecPayTypeId" class="form-control _dis text_Display">
                                                <option value="Null">   @SystemResource.App_Receipt_Type </option>
                                            </select>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.App_Registration_Number</label>
                                        <div class="col-8 col-md-9 ">
                                            <input id="txt_VoucherNo" disabled name="VoucherNo" type="text" class="form-control" placeholder="@SystemResource.App_Registration_Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row  d-flex justify-content-center align-items-center">
                                        <label class="col-4 col-md-3 col-lg-5 align-self-center p-md-0">@SystemResource.App_beneficiary</label>
                                        <div class="col-8 col-md-9 col-lg-7">
                                            <div class="search-content">
                                                <input type="text" class="form-control search-control display_none" id="txt_BenIDH">
                                                <input disabled type="text" class="_dis form-control search-control" id="txt_BenCodeH">
                                                <button type="button" name="ColSearch" id="btnBenH" class=" _dis btn btn-main btn-search">
                                                    <i class="fas fa-search ms-n1 mt-n1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <div class="col-8 col-md-12 offset-4 offset-md-0">
                                            <input type="text" class="form-control " disabled name="" id="txt_BenNameH">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.App_Balanc </label>
                                        <div class="col-8 col-md-9 ">
                                            <input id="txt_OpenbalanceH" disabled name="" type="text" class="form-control" placeholder="@SystemResource.App_Balanc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 col-lg-5 align-self-center p-md-0">@SystemResource.App_Amount </label>
                                        <div class="col-8 col-md-9 col-lg-7 ">
                                            <input id="txt_Amount" disabled name="Amount" type="text" class="form-control" placeholder=" @SystemResource.App_Amount  ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 _Cash">
                                    <div class="form-group row ">
                                        <label id="La_CashAmount" class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.App_Cash </label>
                                        <div class="col-8 col-md-9 ">
                                            <input id="txt_CashAmount" disabled name="CashAmount" type="number" class="  _dis form-control" placeholder="@SystemResource.App_Cash ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 _Card">
                                    <div class="form-group row ">
                                        <label id="La_CardAmount" class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.App_Card </label>
                                        <div class="col-8 col-md-9 ">
                                            <input id="txt_CardAmount" disabled name="CardAmount" type="number" class=" _dis form-control" placeholder="@SystemResource.App_Card ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                       
                        <div class="col-12">
                            <div class="row" id="Bank_Div" style="width: 95%;border: 2px solid #143f6b;border-radius: 5px;">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 col-lg-4 align-self-center p-md-0">@SystemResource.transfer_check </label>
                                        <div class="col-8 col-md-9 col-lg-7 ">
                                            <input id="txt_CheckNo" disabled name="CheckNo" type="text" class="_dis form-control" placeholder="   @SystemResource.check">
                                            <input id="txt_TransferNo" disabled name="TransferNo" type="text" class="_dis form-control display_none" placeholder="  @SystemResource.transfer">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.Issued_bank </label>
                                        <div class="col-8 col-md-9 ">
                                            <input id="txt_BankName" disabled name="BankName" type="text" class="_dis form-control" placeholder="@SystemResource.Issued_bank">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.App_account_numbe11 </label>
                                        <div class="col-8 col-md-9 ">
                                            <select id="txt_BankAcc_Code" disabled name="BankAcc_Code" class="_dis form-control">
                                                <option value="Null">@SystemResource.Deposit_account</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-2 display_none">
                                    <div class="form-group row ">
                                        <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Delayed</label>
                                        <div class="col-2 col-md-8">
                                            <input type="checkbox" class="checkbox" id="chkIsDeffered" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 display_none">
                                    <div class="form-group row ">
                                        <label class="col-4 col-md-3 col-lg-4 align-self-center p-md-0">@SystemResource.due_date</label>
                                        <div class="col-8 col-md-9 col-lg-7 ">
                                            <input type="date" disabled class="_dis form-control" name="DueDate" id="txtDueDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    @* Empty Space for Responsive Layout *@
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-md-8">
                            <div class="form-group row ">
                                <label class="col-4 col-md-2 align-self-center p-md-0">@SystemResource.App_Reciept_Description</label>
                                <div class="col-8 col-md-10 ">
                                    <input id="txt_ReceiptDesc" disabled name="ReceiptDescA" type="text" class="_dis form-control" maxlength="200" placeholder=" @SystemResource.App_Reciept_Description">
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-12 col-md-8">
                            <div class="form-group row ">
                                <label class="col-4 col-md-2 align-self-center p-md-0">@SystemResource.App_Notes </label>
                                <div class="col-8 col-md-10 ">
                                    <textarea id="txt_note" disabled name="Remarks" type="text" class="_dis form-control " maxlength="200" placeholder="@SystemResource.App_Notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-4">
                            <label id="txt_AmountCurrency" class="text-blue fw-bold fs-6"> </label>
                        </div>
                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-lg-6">

                                <div class="form-group row ">
                                    <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                                    <div class="col-4 col-xl-4 px-0 editor-input">
                                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 px-0 editor-input">
                                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row ">
                                    <label class="col-4 col-xl-2 align-self-center p-md-0"> @SystemResource.App_Update </label>
                                    <div class="col-4 col-xl-4 px-0 editor-input">
                                        <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 px-0 editor-input">

                                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    @section Script{
        <script>
            $(document).ready(function () {
                //$("#txt_D_CashBox").select2();
                $('#but_read').click(function () {
                    //var username = $('#txt_D_CashBox option:selected').text();
                    //var userid = $('#txt_D_CashBox').val();
                    $('#result').html("id : " + userid + ", name : " + username);
                });
            });
        </script>
        <script>
            $('#lepnotifications').on('click', function () {
                $('#divnotifications').toggleClass('showdiv');
                $('#spanlepnotifications').toggleClass('fa-caret-left');
                $('#spanlepnotifications').toggleClass('fa-caret-down');
            });
        </script>
        <script src="~/ClientApp/FundMovement/AccTrReceiptNoteNew.js"></script>
    }
