@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Purchase_Recieve;

    Layout = "~/Views/Shared/Layout.cshtml";}

<div class="row gy-3 ">
    <div class="col-12" id="DivFilter">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8 ">
                                <input type="date" class="form-control"  name="GosiJoinDate" id="txtStartDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtEndDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_State</label>
                            <div class="col-8 ">
                                <select id="drpSrchStatus" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Inv_ImportInvoice</label>
                            <div class="col-8 ">
                                <select id="drpImportInvoiceFilter" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="divMasterGridiv">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="txtSearch" name="" type="text" class="form-control" placeholder=" @SystemResource.App_srch ">
                        </div>
                    </div>
                    <!-- Table  -->
                    <table id="divMasterGrid"></table>
                </div>
            </div>
        </div>
      <!-- Details  -->
        <div id="rowData" class="row">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row g-0 display_none" id="divDetails">
                        <div class="col-12" id="div_Master">
                            <div class="row g-0">
                                @* Details *@
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.Inv_MenuNo  </label>
                                                <div class="col-8">
                                                    <input type="number" class="form-control display_none" name="InvoiceId" id="hd_InvoiceId" disabled>
                                                    <input type="number" class="form-control" name="JOURNAL_NO" id="txtMenuNum" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3 display_none">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0">@SystemResource.Inv_ImportInvoice</label>
                                                <div class="col-8 ">
                                                    <input type="checkbox" class="checkbox" id="chk_ImportInvoiceDetail" disabled name="CUSTOM6" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_total  </label>
                                                <div class="col-8">
                                                    <input type="number" class="form-control" name="TOTAL" id="txtInvTotal" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2 ">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_Close</label>
                                                <div class="col-8 ">
                                                    <input type="checkbox" class="checkbox" id="chkClosed" name="CUSTOM6" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.Trns_RefNum  </label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="TR_NO" id="txtRefNum" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_date  </label>
                                                <div class="col-8">
                                                    <input type="date" class="form-control" name="TR_DATE" id="txtTR_DATE" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Tax  </label>
                                                <div class="col-8">
                                                    <input type="number" class="form-control" name="Vat" id="txtVat" disabled>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Salesman  </label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="" id="txtPerson" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Registration_Number  </label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="JOURNAL_NO " id="txtVoucherNo" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.Discount  </label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="" id="txtDiscountValue" disabled>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group row ">
                                                <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Notes  </label>
                                                <div class="col-8 col-md-10">
                                                    <textarea rows="2" type="text" class="form-control" disabled name="Remark" id="txtRemark" value=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group row ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.net  </label>
                                                <div class="col-8">
                                                    <input type="number" class="form-control" name="NetATax" id="txtNet" disabled>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Inside Table  -->
                        <!-- Header Table  -->
                        <div class="inside-table my-4" id="DivChargesShow">
                            <div class="table-responsive">
                                <table class="table table-borderless " style="width:140%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>@SystemResource.serial</th>
                                            <th>@SystemResource.App_DocumentNo</th>
                                            <th>@SystemResource.App_InvNum</th>
                                            <th>@SystemResource.VendCode</th>
                                            <th>@SystemResource.App_Name</th>
                                            <th>@SystemResource.App_Cash</th>
                                            <th>@SystemResource.App_date</th>
                                            <th>@SystemResource.App_total</th>
                                            <th>@SystemResource.App_Tax</th>
                                            <th>@SystemResource.Discount</th>
                                            <th> @SystemResource.App_Net</th>
                                            <th> @SystemResource.p_account_number</th>
                                            <th> @SystemResource.Account_name</th>
                                            <th> @SystemResource.InvoiceDesc</th>

                                        </tr>
                                    </thead>
                                    <tbody id="divData_Header"></tbody>

                                </table>
                                <div class="d-flex justify-content-start mr-1">
                                    <span id="btnAddHeaderControls" class="mb-3"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- Data Table  -->
                        <div class="inside-table my-4 display_none" id="DivChargesShow2">
                            <div class="table-responsive">
                                <table class="table table-borderless " style="width:140%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@SystemResource.serial</th>
                                            <th>@SystemResource.Inv_ServiceCode</th>
                                            <th>@SystemResource.App_Name</th>
                                            <th>@SystemResource.App_Quantity</th>
                                            <th>@SystemResource.App_Price</th>
                                            <th>@SystemResource.App_total</th>
                                            <th>@SystemResource.VatPrc</th>
                                            <th>@SystemResource.App_Tax</th>
                                            <th>@SystemResource.App_Net</th>
                                            <th>@SystemResource.Costcenter_name</th>
                                            <th> @SystemResource.App_Name</th>
                                            <th> @SystemResource.partexplanation</th>

                                        </tr>
                                    </thead>
                                    <tbody id="div_Data"></tbody>

                                </table>
                                <div class="d-flex justify-content-start mr-1">
                                    <span id="btnAddChildControls" class="mb-3"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-lg-6">

                                <div class="form-group row g-0">
                                    <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                                    <div class="col-4 col-xl-4 editor-input">
                                        <input id="txtCreatedBy" name="CREATED_BY" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 editor-input">
                                        <input id="txtCreatedAt" name="CREATED_AT" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Update</label>
                                    <div class="col-4 col-xl-4  editor-input">
                                        <input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 editor-input">

                                        <input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/ClientApp/servicesystem/ServPurInvoice.js"></script>
}