@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccTrReceiptNote;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3 ">
    <!-- Filter Container -->
    <div class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row" id="id_ReportGrid">
                    <div class="col-12">
                        <!-- Search Contain -->
                        <div class="col-12 col-md-4">
                            <input id="searchbutmemreport" name="" type="text" class="form-control" placeholder="@SystemResource.App_SearchbyCode">
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.APP_Category</label>
                                <div class="col-9 col-md-8">
                                    <select id="ddlServCateroryFilter" name="" class="form-control">
                                        <option value="null">@SystemResource.APP_Category</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row mt-n3">
                                <div class="form-group col-8 col-md-10">
                                    <div class="row">
                                        <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                            <div class="form-check d-inline-flex">
                                                <input class="form-check-input form-radio special-radio" type="radio" name="Type" id="IsPur" checked>
                                                <label class="form-check-label my-auto me-3" for="IsPur"> @SystemResource.Purchase </label>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                            <div class="form-check  d-inline-flex">
                                                <input class="form-check-input form-radio special-radio" type="radio" name="Type" id="IsSls">
                                                <label class="form-check-label my-auto me-3" for="IsSls"> @SystemResource.Men_Sales</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="ReportGrid"></div>
                        </div>
                        <div class="col-12 text-blue text-center fw-bold mt-3">
                            @SystemResource.App_DoubleDisplay
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <!-- Details  -->
        <div id="Div_control" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row g-0">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-5 col-lg-4 align-self-center p-md-0">@SystemResource.App_Code</label>
                                <div class="col-9 col-md-7 col-lg-8">
                                    <input id="txt_CODE" name="ItemCode" disabled type="text" class="form-control" placeholder="@SystemResource.App_Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-5 col-lg-4 align-self-center p-md-0">@SystemResource.APP_Category</label>
                                <div class="col-9 col-md-7 col-lg-8">
                                    <select id="ddlServCaterory" disabled name="SrvCategoryID" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-5 col-lg-4 align-self-center p-md-0">@SystemResource.App_DescA</label>
                                <div class="col-9 col-md-7 col-lg-8">
                                    <input id="txt_DeskA" disabled name="DescA" type="text" class="form-control" placeholder="@SystemResource.App_DescA">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-5 col-lg-4 align-self-center p-md-0">@SystemResource.App_Price</label>
                                <div class="col-9 col-md-7 col-lg-8">
                                    <input id="txtunitprice" name="UnitPrice" disabled="disabled" type="number" maxlength="10" class=" form-control" value="1176">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-5 col-lg-4 align-self-center p-md-0">@SystemResource.App_DescE</label>
                                <div class="col-9 col-md-7 col-lg-8">
                                    <input id="txt_DeskE" disabled name="DescL" type="text" class="form-control" placeholder="@SystemResource.App_DescE">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-5 col-lg-4 align-self-center p-md-0">@SystemResource.Itm_Uom</label>
                                <div class="col-9 col-md-7 col-lg-8">
                                    <select id="txt_unit" disabled name="UomID" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Editors Details -->
                    <div class="insettext row editor-details mt-2">
                        <div class="col-12 col-md-6">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Create</label>
                                <div class="col-4 col-md-5 editor-input px-0">
                                    <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                </div>
                                <div class="col-4 col-md-5 editor-input px-0">
                                    <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                                <div class="col-4 col-md-5 editor-input px-0">
                                    <input id="txtUpdatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                </div>
                                <div class="col-4 col-md-5 editor-input px-0">
                                    <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


@section Script{
    <script>
        $(document).ready(function () {
            $("#txt_D_CashBox").select2();
            $('#but_read').click(function () {
                var username = $('#txt_D_CashBox option:selected').text();
                var userid = $('#txt_D_CashBox').val();
                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>

    <script src="~/ClientApp/servicesystem/Services.js"></script>
    <script>
        $('#lepnotifications').on('click', function () {
            $('#divnotifications').toggleClass('showdiv');
            $('#spanlepnotifications').toggleClass('fa-caret-left');
            $('#spanlepnotifications').toggleClass('fa-caret-down');
        });
    </script> 
}