@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml"; }

<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                                    <div class="col-9 col-md-10">
                                        <input type="date" class="form-control" name="" id="txtStartDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                                    <div class="col-9 col-md-10">
                                        <input type="date" class="form-control" name=" " id="txtEndDate">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group row  d-flex justify-content-center align-items-center">
                                    <label class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.App_Branch</label>
                                    <div class="col-9 col-md-10">
                                        <div class="search-content">
                                            <input id="txtbranchCode" type="text" autofocus="autofocus" class="form-control">
                                            <button type="button" id="btnBranchSearch" name="ColSearch" class="btn btn-main btn-search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row ">
                                    <div class="col-9 offset-3 col-md-12 offset-md-0">
                                        <input id="txtbranchDesc" type="text" autofocus="autofocus" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.App_System</label>
                                    <div class="col-9 col-md-10">
                                        <select id="drpSystem" name="" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.Movment</label>
                                    <div class="col-9 col-md-10">
                                        <select id="drpTrans" name="" class="form-control"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.App_TaxType</label>
                                    <div class="col-9 col-md-10">
                                        <select id="drpSalesVatTp" name="" class="form-control"></select>
                                        <select id="drpPurVatTp" name="" class="form-control display_none"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group row special-group">
                                    <div class="col-12 col-md-4">
                                        <div class="form-check row  d-flex">
                                            <label class="col-6   form-check-label align-self-center p-md-0" for="rd_SummeryRpt"> @SystemResource.Summary</label>
                                            <div class="col-6  ">
                                                <input class="form-check-input form-radio special-radio" type="radio" checked="checked" id="rd_SummeryRpt" name="ReportTp" value="2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-check row  d-flex">
                                            <label class="col-6 form-check-label align-self-center p-md-0" for="rd_DetailRpt"> @SystemResource.Detailed</label>
                                            <div class="col-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="rd_DetailRpt" name="ReportTp" value="2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 display_none" id="div_Landscape">
                                        <div class="form-check row  d-flex">
                                            <label class="col-6   form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.width_Print</label>
                                            <div class="col-6  ">
                                                <input class="form-check-input mt-0" type="checkbox" id="chkLandscapePrint" autofocus="autofocus">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row gy-3">
                            <div class="col-12">
                                <div class="form-group row  special-group">
                                    <div class="col-12">
                                        <div class="form-check row  d-flex my-0">
                                            <label class="col-6 col-md-4 col-lg-6  form-check-label align-self-center p-md-0" for="rd_SalesInvoice"> @SystemResource.Sales_Invoice</label>
                                            <div class="col-6 col-md-4 col-lg-6">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="rd_SalesInvoice" checked="checked" name="Group1" value="2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check row  d-flex my-0">
                                            <label class="col-6 col-md-4 col-lg-6 form-check-label align-self-center p-md-0" for="rd_SalesUpdates"> @SystemResource.Update_Sales</label>
                                            <div class="col-6 col-md-4 col-lg-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="rd_SalesUpdates" name="Group1" value="2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check row  d-flex my-0">
                                            <label class="col-6 col-md-4 col-lg-6 form-check-label align-self-center p-md-0" for="rd_PurchaseInvoice"> @SystemResource.Purshase_Invoice</label>
                                            <div class="col-6 col-md-4 col-lg-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="rd_PurchaseInvoice" name="Group1" value="2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check row  d-flex my-0">
                                            <label class="col-6 col-md-4 col-lg-6 form-check-label align-self-center p-md-0" for="rd_PurchaseUpdates"> @SystemResource.Update_Purshase</label>
                                            <div class="col-6 col-md-4 col-lg-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="rd_PurchaseUpdates" name="Group1" value="2">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-12" id="div_summery" >
                                <div class="form-group row special-group">
                                    <div class="col-12">
                                        <div class="form-check row  d-flex my-0">
                                            <label class="col-6 col-md-4 col-lg-6  form-check-label align-self-center p-md-0" for="rd_SummeryRpt"> @SystemResource.Collect_Benf</label>
                                            <div class="col-6 col-md-4 col-lg-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" checked="checked" id="rd_Customer" name="Type" value="2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check row  d-flex my-0">
                                            <label class="col-6 col-md-4 col-lg-6 form-check-label align-self-center p-md-0" for="rd_DetailRpt"> @SystemResource.Collect_Process</label>
                                            <div class="col-6 col-md-4 col-lg-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="rd_Process" name="Type" value="2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check row  d-flex my-0">
                                            <label class="col-6 col-md-4 col-lg-6 form-check-label align-self-center p-md-0" for="rd_DetailRpt"> @SystemResource.Collect_branch</label>
                                            <div class="col-6 col-md-4 col-lg-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="rd_branch" name="Type" value="2">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script src="~/ClientApp/TaxSystem/VatLists.js"></script>
}