@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row gy-3" id="content_report">
	<!-- Filter Container -->
	<div class="col-12">
		<div class="card bg-light-blue">
			<div class="card-body">
				<div class="row">


					<div class="col-12 col-md-4">
						<div class="form-group row">
							<label for="txtFromDate" class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.Vat_Period</label>
							<div class="col-8 col-md-7">
								<select id="drpVatPeriod" name="" class="form-control"></select>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group row special-group">
							<div class="col-12 col-md-3">
								<div class="form-check row g-0 d-flex my-0">
									<label class="col-6 col-md-4  form-check-label align-self-center p-md-0 " for="rd_Open"> @SystemResource.open</label>
									<div class="col-6 col-md-8 ">
										<input class="form-check-input form-radio special-radio" type="radio" disabled id="rd_Open" name="status" value="2">
									</div>
								</div>
							</div>
							<div class="col-12 col-md-3">
								<div class="form-check row g-0 d-flex my-0">
									<label class="col-6 col-md-4 form-check-label align-self-center p-md-0" for="rd_close"> @SystemResource.close</label>
									<div class="col-6 col-md-8 ">
										<input class="form-check-input form-radio special-radio" type="radio" disabled id="rd_close" name="status" value="2">
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-check row g-0 d-flex my-0">
									<label class="col-6 col-md-4 form-check-label align-self-center p-md-0" for="rd_delivered"> @SystemResource.Authorization_submitted</label>
									<div class="col-6 col-md-8 ">
										<input class="form-check-input form-radio special-radio" type="radio" disabled id="rd_delivered" name="status" value="2">
									</div>
								</div>
							</div>

						</div>
					</div>
					@*Start Buttons div *@
					<div class="col-12 col-md-4">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-4">
										<button id="btnReopen" type="button" class="btn btn-green btn-design h-100 w-100 display_none closed ">
											<i class="fas fa-lock-open"></i>
											@SystemResource.Reopen
										</button>
									</div>
									<div class="col-4">
										<button id="btnDeliveringReport" type="button" class="btn btn-design btn-orange h-100 w-100 display_none closed ">
											<i class="fas fa-file-import"></i>
											@SystemResource.Progress_Ratification
										</button>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-4">
										<button id="btnEdit" type="button" class="btn btn-blue btn-design h-100 w-100 display_none  Open btnback">
											<i class="fas fa-marker"></i>
											@SystemResource.App_Update
										</button>
									</div>
									<div class="col-4">
										<button id="btnClose" type="button" class="btn btn-red btn-design h-100 w-100 display_none  Open btnback">
											<i class="fas fa-lock"></i>
											اغلاق
										</button>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-4">
										<button id="btn_Save" type="button" class="btn btn-green btn-design h-100 w-100 display_none btnEdit">
											<i class="fas fa-save"></i>
											@SystemResource.App_save
										</button>
									</div>
									<div class="col-4">
										<button id="btn_Back" type="button" class="btn btn-orange btn-design h-100 w-100 display_none btnEdit">
											<i class="fas fa-backspace"></i>
											@SystemResource.App_back
										</button>
									</div>
									<div class="col-4">
										<button id="btnLoad" type="button" class="btn btn-blue btn-design h-100 w-100 display_none btnEdit">
											<i class="fas fa-file-download"></i>
											@SystemResource.Download
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					@*End Buttons div *@
					<div class="col-12 col-md-4">
						<div class="form-group row">
							<label for="txtFromDate" class="col-4  align-self-center p-md-0">@SystemResource.Period_start_date</label>
							<div class="col-8 ">
								<input type="date" class="form-control " disabled name="FROM_DATE" id="txtFromDate">
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="form-group row">
							<label for="txtFromDate" class="col-4  align-self-center p-md-0">@SystemResource.Period_end_date</label>
							<div class="col-8 ">
								<input type="date" class="form-control " disabled name="TO_DATE" id="txtToDate">
							</div>
						</div>
					</div>

					<div class="col-12 col-md-4">
						<div class="form-group row">
							<label for="txtFromDate" class="col-4  align-self-center p-md-0">@SystemResource.App_Registration_Number</label>
							<div class="col-8 ">
								<input type="text" class="form-control " disabled name="VOUCHER_CODE" id="txtVOUCHER_CODE">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Detail Div -->
	<div id="DivDetail">
		<!-- Table Sales -->
		<div class="col-12">
			<div class="card bg-light-blue">
				<div class="card-body">
					<div class="row">
						<label id="LbSales" class="text-center text-blue fs-5 fw-bold mb-3">@SystemResource.Men_Sales</label>
						<!-- Table  -->
						<div id="divSalesGrid">  </div>
						<div class="col-12 table-responsive">
							<table class="table table-borderless">
								<thead>
									<tr class="fw-bold">
										<td width="10%"></td>
										<td width="30%" class="fs-7">@SystemResource.Total_sales</td>
										<td width="20%" class="fs-7"><label id="LbSlsAmount">0</label></td>
										<td width="20%" class="fs-7"><label id="LbSlsChanges">0</label></td>
										<td width="20%" class="fs-7"><label id="LbSlsVat">0</label></td>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Table Purchase -->
		<div class="col-12">
			<div class="card bg-light-blue">
				<div class="card-body">
					<div class="row">
						<label id="LbSales" class="text-center text-blue fs-5 fw-bold mb-3">@SystemResource.Purchase</label>
						<!-- Table  -->
						<div id="divPurGrid">  </div>
						<div class="col-12 table-responsive">
							<table class="table table-borderless">
								<thead>
									<tr class="fw-bold">
										<td width="10%"></td>
										<td width="30%" class="fs-7">@SystemResource.Inv_TotalPurchases</td>
										<td width="20%" class="fs-7"><label id="LbPurAmount">0</label></td>
										<td width="20%" class="fs-7"><label id="LbPurChanges">0</label></td>
										<td width="20%" class="fs-7"><label id="LbPurVat">0</label></td>
									</tr>
								</thead>
							</table>
						</div>


					</div>
				</div>
			</div>
		</div>
		<!-- Details -->
		<div class="col-12">
			<div class="card bg-light-blue">
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group row">
										<label for="txtFromDate" class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.Net_tax</label>
										<div class="col-8 col-md-9">
											<input id="txtTOTALPERIODVAT" name="TOTALPERIODVAT" type="text" disabled autofocus="autofocus" class="form-control">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group row">
										<label for="txtFromDate" class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.previous_balance</label>
										<div class="col-8 col-md-9">
											<input id="txtVAT_PREVBALANCE" name="VAT_PREVBALANCE" disabled type="text" autofocus="autofocus" class="form-control Editable">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group row">
										<label for="txtFromDate" class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.Adjustments</label>
										<div class="col-8 col-md-9">
											<input id="txtCORRECTIONS" name="CORRECTIONS" type="text" disabled autofocus="autofocus" class="form-control Editable">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group row">
										<label for="txtFromDate" class="col-4 col-md-3 align-self-center p-md-0">@SystemResource.tax_due</label>
										<div class="col-8 col-md-9">
											<input id="txtNETVAT_AMOUNT" name="NETVAT_AMOUNT" type="text" disabled autofocus="autofocus" class="form-control">
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@section Script{
    <script src="~/ClientApp/TaxSystem/VATReport.js"></script> 
}