@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_SlsTrReturn;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3 ">
    <!-- Filter Container -->
    <div id="div_hedr" class="col-12 card bg-light-blue">
        <div class="">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Trns_Store</label>
                            <div class="col-9 col-md-8 ">
                                <select class="form-control" id="drp_Store"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-9 col-md-8">
                                <input type="date" class="form-control" name="FromDate" id="txtFromDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-9 col-md-8">
                                <input type="date" class="form-control" name="ToDate" id="txtToDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0"> @SystemResource.Choose_Status</label>
                            <div class="col-9 col-md-8 ">
                                <select id="ddlstatus" name="" class="form-control">
                                    <option value="0">@SystemResource.App_Not_Certified</option>
                                    <option value="1">@SystemResource.App_Certified</option>
                                    <option value="null">@SystemResource.App_All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">نوع الحركة</label>
                            <div class="col-9 col-md-8 ">
                                <select class="form-control" id="Filtr_CollType"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.choose_Cat</label>
                            <div class="col-9 col-md-8 ">
                                <select id="drpPaymentType" name="" class="form-control">
                                    <option value="Null"> @SystemResource.choose_Cat  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Type</label>
                            <div class="col-9 col-md-8">
                                <select id="drpitem_family" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Item</label>
                            <div class="col-9 col-md-8 ">
                                <select id="txt_ID_APP_Type" name="" class="form-control" disabled>
                                    <option value="null">اختر الصنف</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Details Container -->
    <!-- Search Table -->
    <div class="display_none card bg-light-blue" id="divShow">
        <div class=" ">
            <div class="card-body">
                <!-- Table  -->
                <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                    <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                    <div class="col-8 col-lg-8 col-md-10">

                        <input id="searchbutmemreport" name="" type="text" class="form-control" placeholder="بحث :">
                    </div>
                </div>
                <div id="divGridDetails"></div>
            </div>
        </div>

    </div>

    <div class="col-12">

        <!-- Details  -->
        <div id="divTransferDetails" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row g-0">
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Trns_TrNO</label>
                                <div class="col-9 col-md-8 ">
                                    <input disabled type="text" class="form-control" id="txtTrNo" name="TrNo">
                                    <input type="hidden" class="  form-control " disabled id="hd_CollectID" name="CollectID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_date </label>
                                <div class="col-9 col-md-8">
                                    <input disabled type="date" class="form-control" name="TrDate" id="txtTransferDate">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-2 ">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_approved</label>
                                <div class="col-2 col-md-8">
                                    <input type="checkbox" class="checkbox" id="chkStatus">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-2">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">رقم القيد </label>
                                <div class="col-9 col-md-8">
                                    <input disabled type="text" class="form-control" id="VoucherNo" name="VoucherNo">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row">
                                <label class="col-3 col-md-4 align-self-center p-md-0">نوع الحركة</label>
                                <div class="col-9 col-md-8 ">
                                    <select class="form-control" id="drp_CollType"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Inv_LabourCost</label>
                                <div class="col-9 col-md-8 ">
                                    <input disabled type="text" class="form-control" id="txtLabourCost" name="LabourCost">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Inv_MaterialCost</label>
                                <div class="col-9 col-md-8 ">
                                    <input disabled type="text" class="form-control" id="txtMaterialCost" name="MaterialCost">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<label class="col-3 col-md-4 align-self-center p-md-0"> المخروجات </label>*@
            <div class="col-12 col-md-12" style="margin-top: -29px;">
                <div class="switch-div col-md-1" id="" style="top: 16%;">
                    <a class="btn btn-main" id="btndiv_22" href="#"> المخرجات </a>
                </div>
                <div class="table-responsive inside-table col-md-11" style="width: 89%;border: 2px solid #143f6b;border-radius: 5px;">

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th style="width: 3%"></th>
                                <th style="width: 10%"> رقم الصنف</th>
                                <th style="width: 15%"> الوصف </th>
                                <th style="width: 10%"> الكمية</th>
                            </tr>
                        </thead>
                        <tbody id="">
                            <tr id="No_OUT_Row">


                                <td>
                                    <div class="form-group">
                                        <button type="button" class="style_ButSearch" id="btn_OUT_SearchItems" name="ColSearch" fdprocessedid="fdwmv6">
                                            <i class="fa fa-search  "></i>
                                        </button>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <input id="txt_OUT_ItemCode" type="text" class="form-control" disabled fdprocessedid="n5bpy2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="txt_OUT_ItemName" type="text" class="form-control condisa" name="" disabled fdprocessedid="i60fq1r">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="txt_OUT_Quantity" type="number" class="form-control" name="" fdprocessedid="8mctqi">
                                    </div>
                                </td>


                                <td class="display_none">
                                    <div class="form-group">
                                        <input id="txt_OUT_CollectDetailID" type="hidden" class="form-control ">
                                        <input id="txt_OUT_ItemID" type="hidden">
                                        <input id="txt_OUT_GlobalCost" type="hidden">
                                        <input id="txt_OUT_UnitID" type="hidden">
                                        <input id="txt_OUT_StockOnhandQty" type="hidden">
                                        <input id="txt_OUT_StkUnitCost" type="hidden">
                                    </div>
                                </td>


                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>



            @* Switch Button Div *@
            <div class="col-lg-12 mb-n3">
                <div class=" d-flex justify-content-start">
                    <div class="switch-div" id="btndiv_1">
                        <a class="btn btn-main ms-3" id="btndiv_11" href="#"> المدخلات </a>
                    </div>

                </div>
            </div>
            <!-- Show  div-1 of input -->
            <div id="div_1" class="col-lg-12">
                <div class="card bg-light-blue px-4 mb-4">

                    <!-- Inside Table  -->
                    <div class="inside-table my-4" id="divInputs">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th style="width: 2%"></th>
                                        <th style="width: 3%"></th>
                                        <th style="width: 10%"> @SystemResource.Itm_ItemCode</th>
                                        <th style="width: 15%"> @SystemResource.TransDesc</th>
                                        <th style="width: 10%"> @SystemResource.Itm_Uom</th>
                                        <th style="width: 10%"> @SystemResource.App_Quantity</th>

                                    </tr>
                                </thead>
                                <tbody id="div_Data"></tbody>

                            </table>
                            <div class="d-flex justify-content-start mr-1">
                                <span id="btnAddDetails" class="mb-3"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8" style="margin-right: 1%;margin-top: -2%;">
                    <div class="form-group row g-0 ">
                        <label id="LabtxtRemarks" class="col-3 col-md-2  align-self-center p-md-0">الملاحظات </label>
                        <div class="col-9 col-md-10 ">
                            <textarea rows="2" type="text" class="form-control" name="Remark" id="txtRemarks"> </textarea>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Editors Details -->
            <div class="insettext row editor-details mt-2">
                <div class="col-12 col-md-6">
                    <div class="form-group row g-0">
                        <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Create</label>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                        </div>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group row g-0">
                        <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled class="p-0">
                        </div>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            // Initialize select2
            $("#drpitem_family").select2();
            $("#txt_ID_APP_Type").select2();

            // Read selected option
            $('#but_read').click(function () {
                var username = $('#drpitem_family option:selected').text();
                var userid = $('#drpitem_family').val();

                var username = $('#txt_ID_APP_Type option:selected').text();
                var userid = $('#txt_ID_APP_Type').val();


                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script src="~/ClientApp/Inventory/CollectUnit.js"></script>
}


