@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccDefSalesmen;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row gy-3" d="informtionReserved">
    <!-- Filter Container -->
    <div id="id_div_Add" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row gy-md-5">
                    @* Special Group *@
                    <div class="col-12 col-md-4 ">
                        <div class="row special-group py-2">
                            <div class="col-12 d-flex justify-content-center">  <label class="text-blue fw-bold fs-5 ">@SystemResource.Men_Sales</label></div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_He_has_right</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="IsSalesEnable" value="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_He_has_no_right</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="IsSalesEnable" value="false">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_Everybody</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="IsSalesEnable" name="IsSalesEnable" value="All">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Special Group *@
                    <div class="col-12 col-md-4">
                        <div class="row special-group py-2">
                            <div class="col-12 d-flex justify-content-center">  <label class="text-blue fw-bold fs-5 ">@SystemResource.Purchase</label></div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_He_has_right</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="IsPurchaseEnable" value="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_He_has_no_right</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="IsPurchaseEnable" value="false">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_Everybody</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="IsPurchaseEnable" name="IsPurchaseEnable" value="All">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Special Group *@
                    <div class="col-12 col-md-4">
                        <div class="row special-group py-2">
                            <div class="col-12 d-flex justify-content-center">  <label class="text-blue fw-bold fs-5 ">@SystemResource.App_ISOperationEnable</label></div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_He_has_right</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="ISOperationEnable" value="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_He_has_no_right</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="ISOperationEnable" value="false">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_Everybody</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="ISOperationEnable" name="ISOperationEnable" value="All">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="id_ReportGrid">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="searchbutmemreport" name="" type="text" class="form-control" placeholder="@SystemResource.Search">
                        </div>
                    </div>
                    <!-- Table  -->
                    <div class="col1-2"></div>
                    <table id="ReportGrid"></table>
                    <div class="d-flex justify-content-center text-blue text-center fw-bold mb-3">
                        @SystemResource.App_DoubleDisplay
                    </div>
                </div>
            </div>
        </div>
        <!-- Details  -->
        <div class="row">
            <div class="col-12 service-content display_none" id="Div_control" >
                <div class="serviceBox">
                    <div class="row" >
                        <div class="col-12" >
                            <div class="row ">
                                <div class="col-12 col-md-3">
                                    <div class="form-group row ">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.App_SalesmanCode  </label>
                                        <div class="col-8">
                                            <input id="txt_CustomerCODE" name="SalesmanCode" type="number" class="form-control" placeholder="@SystemResource.App_SalesmanCode" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row  ">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.Name_Arabic  </label>
                                        <div class="col-8">
                                            <input id="txt_NAME" name="NameA" type="text" class="form-control" placeholder="@SystemResource.Name_Arabic ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row  ">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.Name_English  </label>
                                        <div class="col-8">
                                            <input id="txt_NAMEE" name="NameE" type="text" class="form-control" placeholder="@SystemResource.Name_English  ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 ">
                                    <div class="form-group row g-0">
                                        <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Active</label>
                                        <div class="col-2 col-md-8">
                                            <input type="checkbox" class="checkbox" id="id_chkcustom6">
                                        </div>
                                    </div>
                                </div>
                                @* Column  *@
                                <div class="col-12 col-md-4 ">
                                    <div class="row h-100">
                                        <div class="col-12">
                                            <div class="form-group row  ">
                                                <label class="col-4 col-md-3 align-self-center p-md-0"> @SystemResource.App_Mobile  </label>
                                                <div class="col-8 col-md-9">
                                                    <input id="txt_MOBILE" name="MOBILE" type="number" class="form-control" placeholder="@SystemResource.App_Mobile">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row  ">
                                                <label class="col-4 col-md-3 align-self-center p-md-0"> @SystemResource.App_address  </label>
                                                <div class="col-8 col-md-9">
                                                    <input id="txt_ADDRESS" name="ADDRESS" type="text" class="form-control" placeholder="@SystemResource.App_address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* Column *@
                                <div class="col-12 col-md-4 mt-2">
                                    <div class="row special-group g-2 pb-2">
                                        <div class="col-12">
                                            <div class="form-group row g-0">
                                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_AuthToPurchase</label>
                                                <div id="chk_IsPurchase" class="col-2 col-md-8">
                                                    <input type="checkbox" class="checkbox" id="chk_IsPurchaseEnable" name="CUSTOM6" checked="checked" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row g-0">
                                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_AuthTosellfor</label>
                                                <div  id="chk_IsSales" class="col-2 col-md-8">
                                                    <input type="checkbox" class="checkbox" id="chk_IsSalesEnable" name="CUSTOM6"  >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row g-0">
                                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_AuthTheCommission</label>
                                                <div id="chk_ISOperation" class="col-2 col-md-8">
                                                    <input type="checkbox" class="checkbox" id="chk_ISOperationEnable" name="CUSTOM6" >
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                @* Column *@
                                <div class="col-12 col-md-4">
                                    <div class="row special-group h-100 py-2">
                                        <div class="col-12">
                                            <div class="form-group row  ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_SaleTheInvoice  </label>
                                                <div class="col-8">
                                                    <input id="chk_PurchaseLimit" name="PurchaseLimit" type="number" class="form-control" placeholder="@SystemResource.App_SaleTheInvoice" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row  ">
                                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_PurchaseTheInvoice  </label>
                                                <div class="col-8">
                                                    <input id="chk_SalesCreditLimit" name="SalesCreditLimit" type="number" class="form-control" placeholder="@SystemResource.App_PurchaseTheInvoice" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group row  ">
                                        <label class="col-4 col-md-3 align-self-center p-md-0"> @SystemResource.App_IDNumberOrRecord  </label>
                                        <div class="col-8 col-md-9">
                                            <input id="txt_IDNo" name="IDNo" type="text" class="form-control" placeholder="@SystemResource.App_IDNumberOrRecord ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group row  ">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Nationality  </label>
                                        <div class="col-8">
                                            <select id="ddlNationality" name="" class="form-control">
                                                <option value="Null"> @SystemResource.App_Nationality </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group row  ">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.menu_Costcenter  </label>
                                        <div class="col-8">
                                            <select id="txt_CC_Code" name="" class="form-control">
                                                <option value="Null"> @SystemResource.choose_Cost   </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row  ">
                                        <label class="col-4 col-md-1 align-self-center p-md-0"> @SystemResource.App_Notes  </label>
                                        <div class="col-8 col-md-11">
                                            <textarea id="txt_note" name="REMARKS" type="text" class="form-control" placeholder="@SystemResource.App_Notes"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

@section Script{
<script>
    $(document).ready(function () {
        $('#but_read').click(function () {
            $('#result').html("id : " + userid + ", name : " + username);
        });
    });
</script>
<script>
    $('#lepnotifications').on('click', function () {
        $('#divnotifications').toggleClass('showdiv');
        $('#spanlepnotifications').toggleClass('fa-caret-left');
        $('#spanlepnotifications').toggleClass('fa-caret-down');
    });

</script>
<script src="~/ClientApp/AccDefinition/AccDefSalesmen.js"></script>
}
