@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccDefBox;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3">
    <!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div  id="masterdiv">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="form-group d-flex">
                                <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">@SystemResource.App_BranchName</label>
                                <div class="col-8 col-lg-8 col-md-10">
                                    <select id="drpuserType" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group d-flex">
                                <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                                <div class="col-8 col-lg-8 col-md-10">
                                    <input id="searchbutmemreport" type="text" class="form-control" placeholder="@SystemResource.search_warehouse ">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- Table  -->
                    <div id="divMasterGrid" class="mt-4"></div>
                </div>
            </div>

        </div>
        <div id="StoreDetail" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox" >
                    <div class="row g-0">
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Trns_StoreNO</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="number" class="form-control" name="STORE_CODE" id="txtPurTrNo" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_BranchName</label>
                                <div class="col-9 col-md-8 ">
                                    <select id="drpuserType_new" name="BRA_CODE" class="form-control" disabled>
                                        <option value="Null"> @SystemResource.choose_branch</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 ">
                            <div class="form-group row g-0">
                                <label class="col-2 col-md-6 align-self-center p-md-0">@SystemResource.App_Active</label>
                                <div class="col-3 col-md-6">
                                    <input type="checkbox" class="checkbox" name="IsActive" id="checkactive">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Name_Arabic</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" name="DescA" id="txtName_Arabic" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Name_English</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" name="DescL" id="txtName_English" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.inventoryAccount</label>
                                <div class="col-9 col-md-8 ">
                                    <select id="drpinventoryAccount" name="StockAccCode" class="form-control" disabled></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_phone</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="number" class="form-control" name="Tel1" id="txtphone" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_phone 2</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="number" class="form-control" name="Tel2" id="txtphone2" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_address</label>
                                <div class="col-9 col-md-8 ">
                                    <textarea class="form-control" name="Address" id="txtaddress" rows="2" disabled></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-1 align-self-center p-md-0">@SystemResource.App_Notes</label>
                                <div class="col-9 col-md-11 ">
                                    <textarea class="form-control" id="txtNotes" name="Remarks" rows="2" disabled></textarea>
                                </div>
                            </div>
                        </div>


                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-lg-6">

                                <div class="form-group row g-0">
                                    <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                                    <div class="col-4 col-xl-4 editor-input">
                                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 editor-input">
                                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-xl-2 align-self-center p-md-0"> @SystemResource.App_Update </label>
                                    <div class="col-4 col-xl-4 editor-input">
                                        <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 editor-input">

                                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/ClientApp/AccDefinition/DefStore.js"></script>
}
