@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Purchase_Recieve;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3 ">
        <!-- Filter Container -->
        <div id="DivFilter" class="col-12">
            <div class="col-12">
                <div class="card bg-light-blue">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.I_Vendor</label>
                                    <div class="col-9 col-md-8 ">
                                        <select id="ddlVendorMaster" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_FromDate </label>
                                    <div class="col-9 col-md-8">
                                        <input type="date" class="form-control" id="txtFromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 col-md-4 align-self-center p-md-0"> @SystemResource.App_ToDate  </label>
                                    <div class="col-9 col-md-8">
                                        <input type="date" class="form-control" id="txtToDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Men_AccDefSalesmen</label>
                                    <div class="col-9 col-md-8">
                                        <select class="form-control" id="ddlSalesmanMaster"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 col-md-4 align-self-center p-md-0"> @SystemResource.App_retutnType  </label>
                                    <div class="col-9 col-md-8">
                                        <select class="form-control" id="ddlReturnType"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_State</label>
                                    <div class="col-9 col-md-8">
                                        <select class="form-control" id="ddlStateType"></select>
                                    </div>
                                </div>
                                <select id="ddlShowFreeReturn" name="" class="form-control display_none  " style='width: 100%;border-radius: 30px;'></select>

                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <div class="col-4 ">

                                    </div>
                                    <div class="col-8 ">
                                        <button id="btnPrintsFrom_To" type="button" class="btn btn-main">
                                            <span class="adminpro-icon adminpro-paint-roller"></span>
                                            تنزيل ملف بطباعة الحركة المختارية
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <!-- Search Table -->
            <div class="display_none" id="divMasterGridiv">
                <div class="card bg-light-blue">
                    <div class="card-body">
                        <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                            <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                            <div class="col-8 col-lg-8 col-md-10">
                                <input id="searchbutmemreport" name="" type="text" class="form-control" placeholder="@SystemResource.Search">
                            </div>
                        </div>
                        <!-- Table  -->
                        <table id="divMasterGrid"></table>
                    </div>
                </div>
            </div>
         <!-- Details Container -->
            <div id="rowData" class="row display_none">
                <div class="col-12 service-content" id="Data_heder">
                    <div class="serviceBox" id="MasterDropDowns">
                        <div class="row g-0">
                            <div class="col-12 col-md-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4  align-self-center p-md-0"> @SystemResource.App_ReturnNum  </label>
                                    <div class="col-9 col-md-8 ">
                                        <input disabled type="text" class="form-control " id="lblReturnNumber">
                                        <input disabled type="hidden" class="form-control " id="TxtRefTrID">
                                        <input disabled type="hidden" class="form-control " id="TxtReceiveID">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_date  </label>
                                    <div class="col-9 col-md-8 ">
                                        <input type="date" class="form-control" id="txtInvoiceDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2 ">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_approved</label>
                                    <div class="col-2 col-md-8">
                                        <input type="checkbox" class="checkbox" id="chkActive" disabled="" name="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4  align-self-center p-md-0">@SystemResource.App_retutnType</label>
                                    <div class="col-9 col-md-8 ">
                                        <select disabled class="form-control" id="ddlReturnTypeShow"></select>
                                    </div>
                                </div>
                            </div>



                            <div class="col-12 col-md-4">
                                <div class="form-group row g-0 d-flex justify-content-center align-items-center">
                                    <label class="col-3 col-md-4  align-self-center p-md-0"> @SystemResource.App_InvoiceNum  </label>
                                    <div class="col-9 col-md-8 ">
                                        <div class="search-content">
                                            <input type="number" class="form-control search-control" id="txtInvoiceNumber" disabled>
                                            <button type="button" name="InvoiceSearch" id="btnRecieveSearch" class="btn btn-main btn-search" disabled>
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="DivCashBox1" class="col-12 col-md-4 display_none">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Cashbox</label>
                                    <div class="col-9 col-md-8 ">
                                        <select disabled class="form-control" id="ddlCashBox"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4  align-self-center p-md-0">@SystemResource.App_Salesman</label>
                                    <div class="col-9 col-md-8 ">
                                        <select disabled class="form-control" id="ddlFreeSalesman"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4  align-self-center p-md-0">@SystemResource.I_Vendor</label>
                                    <div class="col-9 col-md-8 ">
                                        <select disabled class="form-control" id="ddlVendorDetails"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" id="DivCashBox2">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4  align-self-center p-md-0">@SystemResource.App_PaidMoney</label>
                                    <div class="col-9 col-md-8 ">
                                        <input type="number" disabled class="form-control" id="txtCashAmount" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_TaxType</label>
                                    <div class="col-9 col-md-8">
                                        <select id="ddlTaxTypeHeader" disabled="disabled" class="form-control">
                                            <option value="null">@SystemResource.tax_select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
							<div class="col-12 col-md-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">رقم مرتجع المورد</label>
									<div class="col-9 col-md-8">
										<input type="text" disabled class="form-control" id="txtRefNo" />

									</div>
                                </div>
                            </div>
                        </div>
                        <!-- Inside Table  -->
                        <div class="inside-table my-4">
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th style="width: 3%" class="px-3"> @SystemResource.serial </th>
                                            <th style="width: 20%">@SystemResource.App_Type</th>
                                            <th style="width: 20%" class="text-wrap">@SystemResource.Itm_Item</th>
                                            <th style="width: 5%" class="text-wrap"> @SystemResource.purchase_quantity  </th>
                                            <th style="width: 7%" class="text-wrap">@SystemResource.App_returnQty</th>
                                            <th style="width: 8%" class="text-wrap">@SystemResource.App_Price</th>
                                            <th style="width: 8%" class="text-wrap">@SystemResource.App_total</th>
                                            <th style="width: 8%" class="text-wrap"> @SystemResource.App_Tax</th>
                                            <th style="width: 8%" class="text-wrap"> @SystemResource.net</th>

                                        </tr>
                                    </thead>
                                    <tbody id="div_Data"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Total Details -->
                        <div id="divTotalSatistics" class="col-12 display_none">
                            <div class="row total-details">
                                <div class="col-12 col-md-2">
                                    <div class="form-group row">
                                        <label class="col-3 col-md-5  align-self-center p-md-0"> @SystemResource.Men_StkDefItemsNumber</label>
                                        <div class="col-9 col-md-7">
                                            <input disabled type="text" class="form-control" id="txtItemCount">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group row">
                                        <label class="col-3 col-md-5 align-self-center p-md-0"> @SystemResource.App_PackageCount</label>
                                        <div class="col-9 col-md-7">
                                            <input disabled type="text" class="form-control" id="txtPackageCount">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12  col-md-3">
                                    <div class="form-group row">
                                        <label class="col-3 col-md-5 col-md-4 align-self-center p-md-0">@SystemResource.App_total</label>
                                        <div class="col-9 col-md-7 col-md-8">
                                            <input disabled type="text" class="form-control" id="txtTotal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12  col-md-2">
                                    <div class="form-group row">
                                        <label class="col-3 col-md-5 align-self-center p-md-0">@SystemResource.App_Tax</label>
                                        <div class="col-9 col-md-7">
                                            <input disabled type="text" class="form-control" id="txtTax">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12  col-md-3">
                                    <div class="form-group row">
                                        <label class="col-3 col-md-5 align-self-center p-md-0">@SystemResource.net </label>
                                        <div class="col-9 col-md-7">
                                            <input disabled type="text" class="form-control" id="txtNet">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-md-6">

                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Seller</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtUpdatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">

                                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
</div>


@section Script{

    <script src="~/ClientApp/Purchase/PurTrReturn.js"></script>

    <script>

        $(document).ready(function () {

            // Initialize select2
            $("#ddlVendorMaster").select2();
            $("#ddlSalesmanMaster").select2();

            // Read selected option
            $('#but_read').click(function () {
                var username = $('#ddlCashBox option:selected').text();
                var userid = $('#ddlCashBox').val();

                var username = $('#ddlSalesman option:selected').text();
                var userid = $('#ddlSalesman').val();

                //var username = $('#ddlStateType option:selected').text();
                //var userid = $('#ddlStateType').val();

                var username = $('#ddlSeller option:selected').text();
                var userid = $('#ddlSeller').val();

                var username = $('#ddlCustomer option:selected').text();
                var userid = $('#ddlCustomer').val();

                var username = $('#ddlCustomer2 option:selected').text();
                var userid = $('#ddlCustomer2').val();

                $('#result').html("id : " + userid + ", name : " + username);
            });

        });

    </script>

}
