@using Inv.WebUI.Resources

@{
    ViewBag.Title = @SystemResource.Processes;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row gy-3" id="DivFilter">
    <div class="col-12">
        <!-- Filter Container -->
        <div class="card bg-light-blue" id="DivHederMaster">
            <div class="card-body pt-2">
                <div class="row">
                    @* Title *@
                    <label id="" class="col-12 text-blue fw-bold mb-3">
                        <i id="spanlepRentdata" class="fas fa-angle-double-left" aria-hidden="true"></i>
                        @SystemResource.Processes
                    </label>
                    @* Details *@
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.I_Vendor</label>
                            <div class="col-9 col-md-8 ">
                                <select id="ddlVendorMaster" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-9 col-md-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtFromDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-9 col-md-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtToDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Men_AccDefSalesmen</label>
                            <div class="col-9 col-md-8 ">
                                <select id="ddlSalesmanMaster" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_State</label>
                            <div class="col-9 col-md-8 ">
                                <select id="ddlStateType" name="" class="form-control">
                                    <option value="111">@SystemResource.Choose_Status</option>
                                    <option value="0">@SystemResource.under_preparing</option>
                                    <option value="1"> @SystemResource.ready</option>
                                    <option value="2">@SystemResource.open</option>
                                    <option value="3">@SystemResource.close</option>
                                    <option value="4">تجهيز الاغلاق</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" id="divMasterGridiv">
        <!-- Search Table -->
        <div class="card-body" id="div_MasterGird">
            <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                <div class="col-8 col-lg-8 col-md-10">
                    <input id="searchbutmemreport" type="text" class="form-control" placeholder=" @SystemResource.search_ins">
                </div>
            </div>
            <!-- Table  -->
            <div id="divMasterGrid"></div>
        </div>
    </div>
    <div class="col-12">
        <div class="card bg-light-blue  " >
         
            <!-- Details Contant -->
            <div id="id_divGridDetails" class="row">
                <div class="col-12 service-content display_none" id="div_Master_Hedr">
                    <div class="serviceBox">
                        <!-- Details Side Icon Bar -->
                        <div class="div-iconbar">
                            <button class="icon-bar d-flex justify-content-between btn-update" id="btnUpdate_1">
                                <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                            </button>
                            <button class="icon-bar d-flex justify-content-between btn-save display_none" id="btnSave_1">
                                <i class="fas fa-save fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                            </button>
                            <button class="icon-bar d-flex justify-content-between btn-back display_none" id="btnBack_1">
                                <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                            </button>
                        </div>
                        <div class="row gx-3">
                            @* Buttons Groups *@
                            <div class="col-12 col-md-6 col-lg-4 ">
                                <div class="row special-group py-3">
                                    <div class="col-4">
                                        <button id="btnPresent" type="button" class="btn  btn-main h-100">
                                            @SystemResource.Process_Prepared
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button id="btnOpen" type="button" class=" btn btn-main h-100">
                                            فتح العمليه
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button id="btnClose" type="button" class="btn btn-main h-100">
                                            @SystemResource.Close_process
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @* Buttons Groups *@
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row special-group py-3">
                                    <div class="col-4">
                                        <button id="btnView_load" type="button" class="btn btn-main h-100">
                                            @SystemResource.View_load
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button id="btnExpenses" type="button" class=" btn btn-main h-100">
                                            @SystemResource.Expenses_Tractor_car
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button id="btnClose_Focus" type="button" class="btn btn-main h-100">
                                            @SystemResource.Closure
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @* Buttons Groups *@
                            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 m-auto">
                                <div class="row">
                                    <div class="col-6">
                                        <button id="btnPrintOperationsummary" type="button" class="btn btn-dark btn-style h-100">
                                            طباعة الملخص
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0" id="div_Master">
                            @* Details *@
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Number</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" name="TrNo" disabled id="txtNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_date</label>
                                    <div class="col-9 col-md-8">
                                        <input type="date" class="form-control" name="TrDate" id="txtDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Consignment_number</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" disabled name="RefNO" id="txtReferenceNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_State</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" disabled name="Status_DescA" id="txtStatus">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Truck_number</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" name="TruckNo" id="txtTruckNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Name_port_entry</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" name="PortName" id="txtPortName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.I_Vendor</label>
                                    <div class="col-9 col-md-8">
                                        <select id="ddlVendor" name="" class="form-control">
                                            <option value="null">اختر المورد</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_State</label>
                                    <div class="col-9 col-md-8">
                                        <select id="txtNationality" name="" class="form-control"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Clearance_date</label>
                                    <div class="col-9 col-md-8">
                                        <input type="date" class="form-control" name="ClearanceDate" id="txtClearanceDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Police_num</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" name="PolicyNo" id="txtPolice_num">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.CustomNo</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" name="CustomNo" id="txtCustomNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.value_goods_registered</label>
                                    <div class="col-9 col-md-8">
                                        <input type="number" class="form-control" name="PaperPurchaseValue" id="txtPaperPurchaseValue">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_TaxType</label>
                                    <div class="col-9 col-md-8">
                                        <select id="txt_tax" name="" class="form-control">
                                            <option value="null">@SystemResource.tax_select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.tax_rate</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" name="VatPrc" id="txtVatPrc">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Tax</label>
                                    <div class="col-9 col-md-8">
                                        <input type="text" class="form-control" name="VatAmount" id="txtVatAmount">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.TotalafterVat</label>
                                    <div class="col-9 col-md-8">
                                        <input type="number" disabled class="form-control" name="TotAfterTax" id="txtTotAfterTax">
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-1 align-self-center p-md-0">@SystemResource.Description_Shipment</label>
                                    <div class="col-9 col-md-11">
                                        <textarea type="" class="form-control" name="Goods_Desc" id="txtGoods_Desc"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-5 align-self-center p-md-0">نوع الارسالية</label>
                                    <div class="col-9 col-md-7">
                                        <select id="ddlTrtype" name="" class="form-control">
                                            <option value="0">عموله</option>
                                            <option value="1">مشتراه</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-5 align-self-center p-md-0">قيد المشتريات</label>
                                    <div class="col-9 col-md-7">
                                        <input type="number" disabled class="form-control" name="PurVoucherNo" id="txtPurVoucherNo">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-2 col-lg-1 align-self-center p-md-0">@SystemResource.App_Notes</label>
                                    <div class="col-9 col-md-10 col-lg-11">
                                        <textarea type="" class="form-control" name="Remark" id="txtRemark"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row special-group m-3" id="open_Trill">
                            @* Open Trill*@
                            <label class="col-12 text-blue fw-bold mb-3 d-block"> @SystemResource.open_Tractor_car </label>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Seller</label>
                                    <div class="col-9 col-md-8">
                                        <select id="ddlSalesman" name="" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.date_opening</label>
                                    <div class="col-9 col-md-8">
                                        <input type="date" class="form-control" name="OpenAt" id="txtdateopening">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gy-3 ">
    <!-- Payload Data Container -->
    <div class="col-12">
        <div class="card bg-light-blue mt-2">
            <div class="card-body py-2">
                <div class="row">
                    @* Title *@
                    <label id="Payload_data" class="col-12 text-blue fw-bold mb-3">
                        <i id="spanlepRentdata_1" class="fas fa-angle-double-left" aria-hidden="true"></i>
                        @SystemResource.Payload_data
                    </label>
                    @* Details *@
                    <div class="col-12 display_none" id="divlepRentdata_1">
                        <!-- Inside Table  -->
                        <div class="row">
                            <div class="col-10">
                                <div class="inside-table" id="DivShow">
                                    <div class="table-responsive">
                                        <table class="table table-borderless ">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th width="15%">@SystemResource.App_Item</th>
                                                    <th>الكميةالمستلمة</th>
                                                    <th>الكميةالمباعة</th>
                                                    <th>@SystemResource.Voids</th>
                                                    <th>  اجمالي المبيعات</th>
                                                    <th>الكميةالمباعةالمعدلة</th>
                                                    <th>الفوارغ المعدلة</th>
                                                    <th>اجمالي المبيعات المعدلة</th>
                                                </tr>
                                            </thead>
                                            <tbody id="div_Data"> </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>الاجماليات</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input id="txtTotalQuantity" type="number" disabled class="form-control" value="0">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input id="txtTotalSoldQty" type="number" disabled class="form-control" value="0">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input id="txtTotalScrapQty" type="number" disabled class="form-control" value="0">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input id="txtTotal" type="number" disabled class="form-control" value="0">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input id="txtTotalClose_SoldQty" type="number" disabled class="form-control " value="0">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input id="txtTotalClose_ScrapQty" type="number" disabled class="form-control" value="0">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input id="txtTotalClose_TotalSales" type="number" disabled class="form-control" value="0">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                        <span id="btnAddDetails" class="d-flex mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <button id="btnReCalculation" type="button" class="btn btn-success">
                                    اعادة الحساب
                                    <i class="fas fa-sync-alt"></i>

                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Process Shutdown Table  -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-light-blue mt-2">
                                <div class="card-body py-2">
                                    <div class="row">
                                        @* Title *@
                                        <label id="Processshutdown4" class="col-3 text-blue fw-bold mb-3">
                                            <i id="spanlepRentdata_4" class="fas fa-angle-double-left" aria-hidden="true"></i>
                                            تفاصيل مبيعات الصنف
                                        </label>
                                        <label class="col-lg-3" id="nameitem"> </label>
                                        @* Details *@
                                        <div class="col-12">
                                            <!-- Details Side Icon Bar -->
                                            <div class="div-iconbar">
                                                <button class="icon-bar3 d-flex justify-content-between btn-update display_none" id="btnUpdate_2">
                                                    <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                                                    <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                                                </button>
                                                <button class="icon-bar3 d-flex justify-content-between btn-save display_none" id="btnSave_2">
                                                    <i class="fas fa-save fa-fw side-icon ms-1"></i>
                                                    <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                                                </button>
                                                <button class="icon-bar3 d-flex justify-content-between btn-back display_none" id="btnBack_2">
                                                    <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                                                    <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                                                </button>
                                            </div>
                                            <!-- Inside Table  -->
                                            <div class="inside-table my-4 display_none" id="DivShowItemsData">
                                                <div class="table-responsive">
                                                    <table class="table table-borderless ">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>الكمية المباعة</th>
                                                                <th>سعر البيع</th>
                                                                <th>@SystemResource.App_total</th>
                                                                <th>@SystemResource.App_Notes</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="div_ItemsData"> </tbody>


                                                    </table>
                                                    <span id="btnAddDetailsItemsData" class="d-flex mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gy-3 ">
    <!-- Expenses Container -->
    <div class="col-12">
        <div class="card bg-light-blue mt-2">
            <div class="card-body py-2">
                <div class="row">
                    @* Title *@
                    <label id="Expenses" class="col-12 text-blue fw-bold mb-3">
                        <i id="spanlepRentdata_2" class="fas fa-angle-double-left" aria-hidden="true"></i>
                        @SystemResource.Expenses
                    </label>
                    @* Details *@
                    <div class="col-12 display_none" id="divlepRentdata_2">
                        <!-- Details Side Icon Bar -->
                        <div class="div-iconbar">
                            <button class="icon-bar2 d-flex justify-content-between btn-update" id="btnUpdate_3">
                                <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                            </button>
                            <button class="icon-bar2 d-flex justify-content-between btn-save display_none" id="btnSave_3">
                                <i class="fas fa-save fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                            </button>
                            <button class="icon-bar2 d-flex justify-content-between btn-back display_none" id="btnBack_3">
                                <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                            </button>
                        </div>
                        @* Print Icon *@
                        <div class="btn-group" role="group">
                            <button id="btnGroup2" type="button" class="btn btn-main dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                @SystemResource.PrintProcessCharges
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroup2">
                                <li><button id="btnPrint2" class="dropdown-item"> @SystemResource.App_Print</button></li>
                                <li><button id="btnPrintTrview2" class="dropdown-item"> @SystemResource.Print_Report</button></li>
                                <li><button id="btnPrintTrPDF2" class="dropdown-item"> @SystemResource.Download_PDF</button></li>
                                <li><button id="btnPrintTrEXEL2" class="dropdown-item"> @SystemResource.Download_EXCEL</button></li>

                            </ul>
                        </div>

                        <!-- Inside Table  -->
                        <div class="inside-table  my-4" id="DivChargesShow">
                            <div class="table-responsive">
                                <table class="table table-borderless" style="width:160%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="width:2%">@SystemResource.App_serial</th>
                                            <th style="width:10%">@SystemResource.App_Add</th>
                                            <th style="width:10%">@SystemResource.add_type</th>
                                            <th style="width:8%">@SystemResource.value</th>
                                            <th style="width:7%">@SystemResource.App_TaxType</th>
                                            <th style="width:6%">@SystemResource.App_Tax</th>
                                            <th style="width:8%">@SystemResource.App_TotAfterTax</th>
                                            <th style="width:8%">@SystemResource.Cash_credit</th>
                                            <th style="width:6%">@SystemResource.App_InvoiceNum</th>
                                            <th style="width:10%">@SystemResource.Invoice_Date</th>
                                            <th style="width:15%">@SystemResource.I_Vendor</th>
                                            <th style="width:10%">@SystemResource.App_Cashbox</th>
                                            <th style="width:10%" class="px-5">رقم القيد</th>
                                            <th style="width:15%" class="px-5">الملاحظات </th>
                                        </tr>
                                    </thead>
                                    <tbody id="div_ChargesData"> </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="txtTotalValueCharge" type="number" disabled class="form-control" value="0">
                                                </div>
                                            </td>
                                            <td></td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="txtTotalVatCharge" type="number" disabled class="form-control" value="0">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="txtTotalAfterVatCharge" type="number" disabled class="form-control" value="0">
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>

                                </table>
                                <span id="btnAddDetailsCharge" class="d-flex mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gy-3 ">
    <!-- Process Shutdown Container -->
    <div class="col-12">
        <div class="card bg-light-blue mt-2">
            <div class="card-body py-2">
                <div class="row">
                    @* Title *@
                    <label id="Processshutdown" class="col-12 text-blue fw-bold mb-3">
                        <i id="spanlepRentdata_3" class="fas fa-angle-double-left" aria-hidden="true"></i>
                        @SystemResource.Close_process
                    </label>
                    @* Details *@
                    <div class="col-12 display_none" id="divlepRentdata_3">
                        <!-- Details Side Icon Bar -->
                        <div class="div-iconbar">
                            <button class="icon-bar2 d-flex justify-content-between btn-update" id="btnUpdate_4">
                                <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                            </button>
                            <button class="icon-bar2 d-flex justify-content-between btn-save display_none" id="btnSave_4">
                                <i class="fas fa-save fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                            </button>
                            <button class="icon-bar2 d-flex justify-content-between btn-back display_none" id="btnBack_4">
                                <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                            </button>
                        </div>
                        <!-- Details Contant  -->
                        <div class="row" id="divProcessClose">
                            <div class="col-12 col-xl-6">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.Close_Date</label>
                                            <div class="col-9 col-md-6">
                                                <input type="date" class="form-control" name="Close_TrDate" id="txtClose_TrDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">اجمالي الكمية المستلمة</label>
                                            <div class="col-9 col-md-8">
                                                <input disabled type="text" class="form-control" name="Close_TotalQtyRec" id="textClose_TotalQtyRec">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">اجمالي كمية المبيعات</label>
                                            <div class="col-9 col-md-8">
                                                <input disabled type="text" class="form-control" name="Close_TotalQtySold" id="textClose_TotalQtySold">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">اجمالي كمية الفوارغ</label>
                                            <div class="col-9 col-md-8">
                                                <input disabled type="text" class="form-control" name="Close_TotalQtyScrap" id="textClose_TotalQtyScrap">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">مصروف البرادات والتخزين</label>
                                            <div class="col-9 col-md-8">
                                                <input type="text" class="form-control" name="Close_Coolingandstorage" id="textClose_Coolingandstorage">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Total_sales</label>
                                            <div class="col-9 col-md-8">
                                                <input type="text" class="form-control" name="Close_TotalSales" disabled id="txtClose_TotalSalesCash">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Total_Expenses</label>
                                            <div class="col-9 col-md-8">
                                                <input type="text" class="form-control" disabled name="Close_TotalExpenses" id="txtClose_TotalExpenses">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">اجمالي المبيعات المعدلة</label>
                                            <div class="col-9 col-md-8">
                                                <input type="text" class="form-control" disabled name="Close_AdjTotalSales" id="textClose_AdjTotalSales">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Adjustment</label>
                                            <div class="col-9 col-md-8">
                                                <input type="text" class="form-control" disabled name="Close_Adjustment" id="txtClose_Adjustment">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-2 align-self-center p-md-0">@SystemResource.Adjust_Note</label>
                                            <div class="col-9 col-md-10">
                                                <textarea type="text" class="form-control" name="Close_AdjustmentRemarks" id="txtClose_AdjustmentRemarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.RegistrationNoteNo</label>
                                            <div class="col-9 col-md-8">
                                                <input type="text" disabled class="form-control" name="VoucherNo" id="txtVoucherNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row g-0">
                                            <label class="col-3 col-md-2 col-lg-1 align-self-center p-md-0">@SystemResource.Shutdown_notes</label>
                                            <div class="col-9 col-md-10 col-lg-11">
                                                <textarea type="" class="form-control" name="Close_Remarks" id="txtClose_Remarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-group row g-0 mb-2 mt-5">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.Net_sales</label>
                                    <div class="col-4 ">
                                        <input type="text" class="form-control" disabled name="Netsales" id="txtNetsales">
                                    </div>
                                </div>
                                <div id="Comp_comm" class="form-group row g-0 mb-2">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.Comp_comm</label>
                                    <div class="col-2"></div>
                                    <div class="col-1">
                                        <input type="text" placeholder="%" class="form-control bg-danger bg-opacity-25" name="Close_CompanyCommitionPrc" id="txtClose_CompanyCommitionPrc">
                                    </div>
                                    <label class="col-1 text-center align-self-center">%</label>
                                    <div class="col-4">
                                        <input type="text" class="form-control bg-danger bg-opacity-25" name="Close_CompanyCommition" id="txtClose_CompanyCommition">
                                    </div>
                                </div>
                                <div class="form-group row g-0 mb-2">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.Marketing</label>
                                    <div class="col-4 offset-4">
                                        <input type="text" class="form-control bg-danger bg-opacity-25" name="Close_Marketting" id="txtClose_Marketting">
                                    </div>
                                </div>
                                <div class="form-group row g-0 mb-2">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.sales_comm</label>
                                    <div class="col-4 ">
                                        <input type="text" class="form-control bg-success bg-opacity-25" name="Close_SalesManCommition" id="txtClose_SalesManCommition">
                                    </div>
                                </div>
                                <div class="form-group row g-0 mb-2">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.Net_profit</label>
                                    <div class="col-4 ">
                                        <input type="text" class="form-control" disabled name="Close_NetProfit" id="txtClose_NetProfit">
                                    </div>
                                </div>
                                <div class="form-group row g-0 mb-2">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.purchase_value</label>
                                    <div class="col-4 offset-4">
                                        <input type="text" class="form-control" disabled name="Close_purchaseValue" id="txtClose_purchaseValue">
                                    </div>
                                </div>
                            </div>
                         
                            <!-- Editors Details -->
                            <div class="insettext row editor-details mt-2">
                                <div class="col-12 col-md-6">

                                    <div class="form-group row g-0">
                                        <label class="col-2 align-self-center p-md-0"> @SystemResource.App_Create</label>
                                        <div class="col-5 editor-input">
                                            <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                        </div>
                                        <div class="col-5 editor-input">
                                            <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group row g-0">
                                        <label class="col-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                                        <div class="col-5 editor-input">
                                            <input id="txtUpdatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                        </div>
                                        <div class="col-5 editor-input">

                                            <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gy-3  display_none">
    <!-- Sales Man Container -->
    <div class="col-12">
        <div class="card bg-light-blue mt-2">
            <div class="card-body py-2">
                <div class="row">
                    @* Title *@
                    <label id="OerSalesman" class="col-12 text-blue fw-bold mb-3">
                        <i id="spanlOerSalesman_2" class="fas fa-angle-double-left" aria-hidden="true"></i>
                        @SystemResource.Men_AccDefSalesmen
                    </label>
                    @* Details *@
                    <div class="col-12" id="divlOerSalesman_2">
                        @* Print Icon *@
                        <div class="d-flex justify-content-start">
                            <div class="">
                                <button id="btnPrintStock" type="button" class="btn btn-main me-3">
                                    @SystemResource.Distributorstockprinting
                                </button>
                            </div>
                            <div class="">
                                <button id="btnPrintDeposit" type="button" class="btn btn-main">
                                    @SystemResource.DistributorsDepositPrinting
                                </button>
                            </div>
                        </div>
                        @* Search Table *@
                        <div class="row" id="OerSalmanGridiv">
                            <div class="col-12 col-md-6 my-3">
                                <input id="searchOerSalesmanGrid_Master" name="" type="text" class="form-control" placeholder="@SystemResource.App_Search ">
                            </div>
                            <div class="col-12 ">
                                <table id="OerSalesmanGrid_Master"></table>
                            </div>
                        </div>
                        <!-- Custom Table  -->
                        <div class="custom-table my-4">
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th width="20%"></th>
                                            <th>@SystemResource.value</th>
                                            <th>@SystemResource.App_Tax</th>
                                            <th>@SystemResource.App_TotAfterTax</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@SystemResource.Total_forward_sales</td>
                                            <td> <label id="Close_TotalSalesCredit">  </label></td>
                                            <td> <label id="Close_TotalSalesCreditVAT">  </label></td>
                                            <td> <label id="Close_AfterTotalSalesCreditVAT">  </label></td>
                                        </tr>
                                        <tr>
                                            <td>@SystemResource.Total_cash_sales</td>
                                            <td> <label id="Close_TotalSalesCash">  </label></td>
                                            <td> <label id="Close_TotalSalesCashVAT">  </label></td>
                                            <td> <label id="Close_AfterTotalSalesCashVAT">  </label></td>
                                        </tr>
                                        <tr>
                                            <td>@SystemResource.Total_sales</td>
                                            <td> <label id="Close_AllTotalSale">  </label></td>
                                            <td> <label id="Close_AllTotalSaleVAT">  </label></td>
                                            <td> <label id="Close_AllAfterTotalSaleVAT">  </label></td>
                                        </tr>
                                        <tr>
                                            <td class="pt-3 fs-6 fw-bold">@SystemResource.cash_delegate</td>
                                            <td class="pt-3 fs-6 fw-bold">@SystemResource.Cash_bank</td>
                                            <td> </td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td class="fs-6 fw-normal"><label id="lab_Close_CashOnhand"> Cash On hand</label></td>
                                            <td class="fs-6 fw-normal"><label id="lab_Close_CashOnBank"> Cash On Bank </label></td>
                                            <td> </td>
                                            <td> </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gy-3 display_none">
    <!-- Financial Situation Container -->
    <div class="col-12">
        <div class="card bg-light-blue mt-2">
            <div class="card-body py-2">
                <div class="row">
                    @* Title *@
                    <label id="Financialsituation" class="col-12 text-blue fw-bold mb-3">
                        <i id="spanlepRentdata_4" class="fas fa-angle-double-left" aria-hidden="true"></i>
                        مخزون المندوب
                    </label>
                    @* Details *@
                    <div class="col-12" id="lepRentdata">
                        <!-- Details Side Icon Bar -->
                        <div class="div-iconbar">
                            <button class="icon-bar2 d-flex justify-content-between btn-update" id="btnUpdate_5">
                                <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                            </button>
                            <button class="icon-bar2 d-flex justify-content-between btn-save display_none" id="btnSave_5">
                                <i class="fas fa-save fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                            </button>
                            <button class="icon-bar2 d-flex justify-content-between btn-back display_none" id="btnBack_5">
                                <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                                <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                            </button>
                        </div>
                        @* Print Icon *@
                        <div class="btn-group" role="group" id="Print_salsman_1">
                            <button id="btnGroup3" type="button" class="btn btn-main dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                @SystemResource.Distributorstockprint
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroup3">
                                <li><button id="btnPrint3" class="dropdown-item"> @SystemResource.App_Print</button></li>
                                <li><button id="btnPrintTrview3" class="dropdown-item"> @SystemResource.Print_Report</button></li>
                                <li><button id="btnPrintTrPDF3" class="dropdown-item"> @SystemResource.Download_PDF</button></li>
                                <li><button id="btnPrintTrEXEL3" class="dropdown-item"> @SystemResource.Download_EXCEL</button></li>

                            </ul>
                        </div>
                        <!--  Table  -->
                        <div id="OerSalmanGridivDetail" class="col-12">
                            <div class="d-flex justify-content-center text-blue mb-3">
                                <h4 id="id_Lapl_Salesman"> @SystemResource.ItemsForVendor </h4>
                            </div>
                            <div>
                                <table id="OerSalesmanGrid_Detail"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gy-3 display_none">
    <!-- Div Money Container -->
    <div class="col-12">
        <div class="card bg-light-blue mt-2">
            <div class="card-body py-2">
                <div class="row">
                    @* Title *@
                    <label id="Div_Money" class="col-12 text-blue fw-bold mb-3">
                        <i id="spanlepMoney_4" class="fas fa-angle-double-left" aria-hidden="true"></i>
                        @SystemResource.Depositofdelegate
                    </label>
                    @* Details *@
                    <div class="col-12" id="lepMoney">
                        @* Print Icon *@
                        <div class="btn-group" role="group" id="Print_salsman_2">
                            <button id="btnGroup4" type="button" class="btn btn-main dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                @SystemResource.DistributorsDepositPrinting
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroup4">
                                <li><button id="btnPrint4" class="dropdown-item"> @SystemResource.App_Print</button></li>
                                <li><button id="btnPrintTrview4" class="dropdown-item"> @SystemResource.Print_Report</button></li>
                                <li><button id="btnPrintTrPDF4" class="dropdown-item"> @SystemResource.Download_PDF</button></li>
                                <li><button id="btnPrintTrEXEL4" class="dropdown-item"> @SystemResource.Download_EXCEL</button></li>

                            </ul>
                        </div>
                        <!-- Inside Table  -->
                        <div class="inside-table  my-4" id="DivShow">
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@SystemResource.App_serial</th>
                                            <th>@SystemResource.App_date</th>
                                            <th>@SystemResource.App_Salesman</th>
                                            <th>@SystemResource.App_Price</th>
                                            <th>@SystemResource.account_type</th>
                                            <th>@SystemResource.Deposit_account</th>
                                            <th>@SystemResource.App_Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody id="data_lebel"> </tbody>
                                </table>
                                <span id="btnAddDetailslebel" class="d-flex mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script>
        $(document).ready(function () {
            // Initialize select2
            $("#ddlSalesmanMaster").select2();
            $("#ddlVendorMaster").select2();
            $("#ddlCashBox").select2();
            $("#ddlSalesman").select2(); 
            $("#ddlSeller").select2();
            $("#ddlCustomer").select2();
            $("#ddlCustomer2").select2();
            // Read selected option
            $('#but_read').click(function () {
                var username = $('#ddlVendorMaster option:selected').text();
                var userid = $('#ddlVendorMaster').val();

                var username = $('#ddlSalesmanMaster option:selected').text();
                var userid = $('#ddlSalesmanMaster').val();

                var username = $('#ddlSalesman option:selected').text();
                var userid = $('#ddlSalesman').val();
                 

                var username = $('#ddlSeller option:selected').text();
                var userid = $('#ddlSeller').val();

                var username = $('#ddlCustomer option:selected').text();
                var userid = $('#ddlCustomer').val();

                var username = $('#ddlCustomer2 option:selected').text();
                var userid = $('#ddlCustomer2').val();

                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script src="~/ClientApp/JsGrid.js"></script>
    <script src="~/ClientApp/Processes/CloseProcesses.js"></script>
}
