@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<label for="rpTitle" style="display:none" id="rpTitle">@*@SystemResource.Rep_PayRecieptList*@</label>
<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label for="txtFromDate" class="col-4 align-self-center p-md-0">في تاريخ </label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="txtFromDate" id="txtFromDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_indebtedness</label>
                            <div class="col-8 ">
                                <select id="txt_indebtedness" name="" class="form-control input-sm  text_Display">
                                    <option value="0"> @SystemResource.App_All </option>
                                    <option value="1"> @SystemResource.App_He_Owes_Him </option>
                                    <option value="2"> @SystemResource.App_an_indebtedness </option>
                                    <option value="3"> @SystemResource.App_Zero </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">    ادراج الحركات الجديدة ؟</label>
                            <div class="col-8 ">
                                <input id="CheckboxStatus" type="checkbox" class="form-check-input">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        @* Empty for Responsive *@
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.APP_Category</label>
                            <div class="col-8 ">
                                <select id="txt_ID_APP_Category" name="" class="form-control">
                                    <option value="Null"> @SystemResource.choose_Cat </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Group</label>
                            <div class="col-8 ">
                                <select id="txt_ID_APP_Group" name="" class="form-control">
                                    <option value="Null">@SystemResource.Choose_group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row  d-flex justify-content-center align-items-center">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.I_Vendor </label>
                            <div class="col-8">

                                <div class="search-content">
                                    <input type="text" class="form-control search-control" id="txt_VndCode">
                                    <button type="button" id="btnVnd" name="ColSearch" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row ">
                            <label class="align-self-center p-md-0"></label>
                            <div class="col-8 offset-4 col-md-12 offset-md-0">
                                <input type="text" class="form-control" disabled name="" id="txt_VndName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            $("#txt_ID_Vendor").select2();

            // Read selected option
            $('#but_read').click(function () {
                var username = $('#txt_ID_Vendor option:selected').text();
                var userid = $('#txt_ID_Vendor').val();


                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script src="~/ClientApp/CollectionReports/AgingVend.js"></script>
    <script>
        function myclaer() {
            $("#ShiftName option:selected").prop("selected", false);
            $("#ShiftName option:first").prop("selected", "selected");

            $("#PeriodName option:selected").prop("selected", false);
            $("#PeriodName option:first").prop("selected", "selected");

            $("#SrvTypeName").value = "";
            $("#SrvTypeCode").value = "";
            $("#ShiftCode").value = "";
            $("#PeriodCode").value = "";
        }
    </script>
    }
