@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                                    <div class="col-8">
                                        <input type="date" class="form-control" name="txtFromDate" id="txtFromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label for="txtToDate" class="col-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                                    <div class="col-8">
                                        <input type="date" class="form-control" name="txtToDate" id="txtToDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.App_indebtedness</label>
                                    <div class="col-8 ">
                                        <select id="txt_indebtedness" name="" class="form-control">
                                            <option value="All">@SystemResource.App_All</option>
                                            <option value=">">@SystemResource.App_He_Owes_Him </option>
                                            <option value="<">@SystemResource.App_an_indebtedness</option>
                                            <option value="=">@SystemResource.App_Zero </option>
                                            <option value="!">رصيد غير صفري </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.APP_Category</label>
                            <div class="col-8 ">
                                <select id="txt_ID_APP_Category" name="" class="form-control">
                                    <option value="Null"> @SystemResource.choose_Cat </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Group</label>
                            <div class="col-8 ">
                                <select id="txt_ID_APP_Group" name="" class="form-control">
                                    <option value="Null">@SystemResource.Choose_group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">
                                ادراج الحركات الجديدة ؟
                            </label>
                            <div class="col-8 ">
                                <input id="CheckboxStatus" type="checkbox" class="form-check-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Men_AccDefSalesmen</label>
                            <div class="col-8 ">
                                <select id="ddlSalesman" name="" class="form-control">
                                    <option value="Null"> @SystemResource.Choose_sales </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Cutomer</label>
                            <div class="col-8 ">
                                <select id="ddlCustomer" name="" class="form-control">
                                    <option value="Null"> @SystemResource.Choosecustomer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">ادراج العمليات النقدية ؟ </label>
                            <div class="col-8 ">
                                <input id="checkboxCash" type="checkbox" class="form-check-input">
                            </div>
                        </div>
                    </div>
         

                    <div class="col-12 col-md-6  mt-2">
                        <div class="row special-group">
                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.App_report_type</label>
                            <div class="form-group col-8 col-md-10">
                                <div class="row">
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_detail" name="details" value="1" checked>
                                            <label class="form-check-label my-auto me-3" for="Rd_detail">@SystemResource.Summary  </label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check  d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_sum" name="details" value="2">
                                            <label class="form-check-label my-auto me-3" for="Rd_sum"> @SystemResource.Detailed</label>
                                        </div>
                                    </div>
                                    <div class="col-12  col-xl-4 ">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_custmastr" name="details" value="3">
                                            <label class="form-check-label my-auto me-3" for="Rd_custmastr">استاذ عملاء</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6  mt-2">
                        <div class="row special-group">
                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.OrderBy</label>
                            <div class="form-group col-8 col-md-10">
                                <div class="row">
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Code" name="orderby" value="1" checked>
                                            <label class="form-check-label my-auto me-3" for="Rd_Code"> @SystemResource.App_Code </label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check  d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Name" name="orderby" value="2">
                                            <label class="form-check-label my-auto me-3" for="Rd_Name"> @SystemResource.App_Name</label>
                                        </div>
                                    </div>
                                    <div class="col-12  col-xl-4">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Bal" name="orderby" value="3">
                                            <label class="form-check-label my-auto me-3" for="Rd_Bal"> @SystemResource.App_Balance</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            // Initialize select2
            // $("#ddlStateType").select2();
            //$("#txt_ID_APP_Category").select2();
            $("#txt_ID_APP_Group").select2();
            $("#ddlSalesman").select2();
            $("#ddlCustomer").select2();
            // Read selected option
            $('#but_read').click(function () {
                var userid = $('#txt_ID_APP_Category').val(); var username = $('#txt_ID_APP_Category option:selected').text();
                var userid = $('#txt_ID_APP_Group').val(); var username = $('#txt_ID_APP_Group option:selected').text();
                var userid = $('#ddlSalesman').val(); var username = $('#ddlSalesman option:selected').text();
                var userid = $('#ddlCustomer').val(); var username = $('#ddlCustomer option:selected').text();
                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script src="~/ClientApp/CollectionReports/Clientaccstat.js"></script>
    <script>
        function myclaer() {
            $("#ShiftName option:selected").prop("selected", false);
            $("#ShiftName option:first").prop("selected", "selected");

            $("#PeriodName option:selected").prop("selected", false);
            $("#PeriodName option:first").prop("selected", "selected");

            $("#SrvTypeName").value = "";
            $("#SrvTypeCode").value = "";
            $("#ShiftCode").value = "";
            $("#PeriodCode").value = "";
        }
    </script>
}