
@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<label for="rpTitle" style="display:none" id="rpTitle">@*@SystemResource.Rep_PayRecieptList*@</label>
<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row">

                            <div class="col-12  col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.Branch</label>
                                    <div class="col-9  ">
                                        <select id="dbBranch" name="" class="form-control">
                                            <option value="null">@SystemResource.App_All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-md-4">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3  align-self-center p-md-0">@SystemResource.App_FromDate </label>
                                    <div class="col-9">
                                        <input type="date" class="form-control" name="txtFromDate" id="txtFromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-md-4">
                                <div class="form-group row">
                                    <label for="txtToDate" class="col-3  align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                                    <div class="col-9 ">
                                        <input type="date" class="form-control" name="txtToDate" id="txtToDate">
                                    </div>
                                </div>
                            </div>





                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.APP_Category</label>
                                    <div class="col-9 ">
                                        <select id="txt_ID_APP_Category" name="" class="form-control">
                                            <option value="Null"> @SystemResource.choose_Cat </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_Group</label>
                                    <div class="col-9 ">
                                        <select id="txt_ID_APP_Group" name="" class="form-control">
                                            <option value="Null">@SystemResource.Choose_group</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12  col-md-4">
                                <div class="form-group row">
                                    <label class="col-3  align-self-center p-md-0">طريقة الدفع</label>
                                    <div class="col-9  ">
                                        <select id="txt_PaymentType" name="" class="form-control">
                                            <option value="2">@SystemResource.App_All</option>
                                            <option value="1">@SystemResource.Cash</option>
                                            <option value="0">@SystemResource.App_credit</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.Men_AccDefSalesmen</label>
                                    <div class="col-9 ">
                                        <select id="ddlSalesman" name="" class="form-control">
                                            <option value="Null"> @SystemResource.Choose_sales </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_Cutomer</label>
                                    <div class="col-9 ">
                                        <select id="ddlCustomer" name="" class="form-control">
                                            <option value="Null"> @SystemResource.Choosecustomer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>







                            <div class="col-12 col-md-12">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold"> نوع المبيعات</label>
                                            <div class="form-group col-8 col-md-10">
                                                <div class="row special-group">
                                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                        <div class="form-check d-inline-flex">
                                                            <input class="form-check-input form-radio special-radio" type="radio" id="SalTy1" name="SalTy1" value="1" checked>
                                                            <label class="form-check-label my-auto me-3" for="SalTy1">  تجزئه </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                        <div class="form-check  d-inline-flex">
                                                            <input class="form-check-input form-radio special-radio" type="radio" id="SalTy2" name="SalTy1" value="1">
                                                            <label class="form-check-label my-auto me-3" for="SalTy2">ارساليات</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-4">
                                                        <div class="form-check d-inline-flex">
                                                            <input class="form-check-input form-radio special-radio" type="radio" id="SalTy3" name="SalTy1" value="1">
                                                            <label class="form-check-label my-auto me-3" for="SalTy3"> @SystemResource.App_All</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold">العمليات</label>
                                            <div class="form-group col-8 col-md-10">
                                                <div class="row special-group">
                                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                        <div class="form-check d-inline-flex">
                                                            <input class="form-check-input form-radio special-radio" type="radio" id="InvoiceTy1" name="InvoiceTy" value="1" checked>
                                                            <label class="form-check-label my-auto me-3" for="InvoiceTy1">  فاتورة </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                        <div class="form-check  d-inline-flex">
                                                            <input class="form-check-input form-radio special-radio" type="radio" id="InvoiceTy2" name="InvoiceTy" value="1">
                                                            <label class="form-check-label my-auto me-3" for="InvoiceTy2">   مرتجع</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-4">
                                                        <div class="form-check d-inline-flex">
                                                            <input class="form-check-input form-radio special-radio" type="radio" id="InvoiceTy3" name="InvoiceTy" value="1">
                                                            <label class="form-check-label my-auto me-3" for="InvoiceTy3">  @SystemResource.App_All</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="row">
                                                    <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold"> السداد</label>
                                                    <div class="form-group col-8 col-md-10">
                                                        <div class="row special-group">
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                                <div class="form-check d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Payment1" name="Payment" value="1" checked>
                                                                    <label class="form-check-label my-auto me-3" for="Payment1">  اجل </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                                <div class="form-check  d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Payment2" name="Payment" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="Payment2"> نقدي</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-4">
                                                                <div class="form-check d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Payment3" name="Payment" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="Payment3"> @SystemResource.App_All</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 display_none">
                                                <div class="row">
                                                    <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold">التكلفة</label>
                                                    <div class="form-group col-8 col-md-10">
                                                        <div class="row special-group">
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                                <div class="form-check d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="TheCost1" name="TheCost" value="1" checked>
                                                                    <label class="form-check-label my-auto me-3" for="TheCost1">  تكلفه </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                                <div class="form-check  d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="TheCost2" name="TheCost" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="TheCost2">   بدون تكلفة</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="row">
                                                    <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold">النوع</label>
                                                    <div class="form-group col-8 col-md-10">
                                                        <div class="row special-group">
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                                <div class="form-check d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_detail" name="Type" value="1" checked>
                                                                    <label class="form-check-label my-auto me-3" for="Rd_detail">  تفصيلي </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                                <div class="form-check  d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_sum" name="Type" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="Rd_sum">   اجمالي موزع بنوع المبيعات </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                                <div class="form-check  d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_sumProcc" name="Type" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="Rd_sumProcc">   اجمالي موزع بنوع العملية </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="Div_Ord_Total" class="col-12 col-md-6">
                                                <div class="row">
                                                    <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold"> مجمع ب </label>
                                                    <div class="form-group col-8 col-md-10">
                                                        <div class="row special-group">
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-3">
                                                                <div class="form-check d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Code" name="ComplexB" value="1" checked>
                                                                    <label class="form-check-label my-auto me-3" for="Rd_Code">  رقم العميل </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-3">
                                                                <div class="form-check  d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Name" name="ComplexB" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="Rd_Name">   اسم العميل</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-3">
                                                                <div class="form-check d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_NumTr" name="ComplexB" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="Rd_NumTr">عدد الحركات</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-3">
                                                                <div class="form-check d-inline-flex">
                                                                    <input class="form-check-input form-radio special-radio" type="radio" id="Rd_totals_sales" name="ComplexB" value="1">
                                                                    <label class="form-check-label my-auto me-3" for="Rd_totals_sales">قيمة المبيعات</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Script{
    <script>
        $(document).ready(function () {
            // Initialize select2
            // $("#ddlStateType").select2();
            //$("#txt_ID_APP_Category").select2();
            $("#ddlSalesman").select2();
            $("#ddlCustomer").select2();
            // Read selected option
            $('#but_read').click(function () {
                var userid = $('#ddlSalesman').val(); var username = $('#ddlSalesman option:selected').text();
                var userid = $('#ddlCustomer').val(); var username = $('#ddlCustomer option:selected').text();
                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>


    <script src="~/ClientApp/CollectionReports/CustSalSum.js"></script>

    <script>

        function myclaer() {


            $("#ShiftName option:selected").prop("selected", false);
            $("#ShiftName option:first").prop("selected", "selected");

            $("#PeriodName option:selected").prop("selected", false);
            $("#PeriodName option:first").prop("selected", "selected");

            $("#SrvTypeName").value = "";
            $("#SrvTypeCode").value = "";
            $("#ShiftCode").value = "";
            $("#PeriodCode").value = "";



        }

    </script>
}

