
@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<label for="rpTitle" style="display:none" id="rpTitle">@*@SystemResource.Rep_PayRecieptList*@</label>

<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label for="txtFromDate" class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-9 col-md-8">
                                <input type="date" class="form-control" name="txtFromDate" id="txtFromDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label for="txtToDate" class="col-3 col-md-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                            <div class="col-9 col-md-8">
                                <input type="date" class="form-control" name="txtToDate" id="txtToDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row mt-n3">
                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.CollectedBy</label>
                            <div class="form-group col-8 col-md-10">
                                <div class="row">
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-3">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio showCost" type="radio" id="reptp1" name="reptp" value="3" checked>
                                            <label class="form-check-label my-auto me-3" for="reptp1"> @SystemResource.by_cat </label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-5">
                                        <div class="form-check  d-inline-flex">
                                            <input class="form-check-input form-radio special-radio showCost" type="radio" id="reptp2" name="reptp" value="2">
                                            <label class="form-check-label my-auto me-3" style="padding-right: 0.4rem;" for="reptp2"> @SystemResource.by_type</label>
                                        </div>
                                    </div>
                                    <div class="col-12  col-xl-3">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio showCost" type="radio" id="reptp3" name="reptp" value="1">
                                            <label class="form-check-label my-auto me-3" for="reptp3"> @SystemResource.by_item</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0 fs-7">@SystemResource.App_Balanc</label>
                            <div class="col-9 col-md-8 ">
                                <select id="txt_indebtedness" name="" class="form-control">
                                    <option value="All">@SystemResource.App_All</option>
                                    <option value=">">@SystemResource.Has_stock</option>
                                    <option value="<">@SystemResource.overdrawn_stock</option>
                                    <option value="=">@SystemResource.Zero_stock </option>
                                    <option value="4">رصيد موجب </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Status</label>
                            <div class="col-9 col-md-8 ">
                                <select id="txt_ID_status" name="" class="form-control">
                                    <option value="1">@SystemResource.prepared</option>
                                    <option value="0">@SystemResource.unprepared</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row mt-n3">
                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.App_report_type</label>
                            <div class="form-group col-8 col-md-10">
								<div class="row special-group">
									<div class="col-12 mb-n3 mb-xl-0 col-xl-4">
										<div class="form-check  d-inline-flex">
											<input class="form-check-input form-radio special-radio showCost" type="radio" id="reptype2" name="reptype" onclick="radiochange(1)" value="2">
											<label class="form-check-label my-auto me-3" for="reptp2"> @SystemResource.Summary</label>
										</div>
									</div>
									<div class="col-12  col-xl-4">
										<div class="form-check d-inline-flex">
											<input class="form-check-input form-radio special-radio showCost" type="radio" id="reptype1" name="reptype" onclick="radiochange(2)" value="1">
											<label class="form-check-label my-auto me-3" for="reptp3"> @SystemResource.Detailed</label>
										</div>
									</div>
									<div id="showCost" class="col-12  col-xl-4 display_none showCost">
										<div class="form-check d-inline-flex">
											<input class="form-check-input " type="checkbox" id="checkCost">
											<label class="form-check-label my-auto me-3" for="checkCost">التكلفة</label>
										</div>
									</div> 
								</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.choose_Cat</label>
                            <div class="col-9 col-md-8 ">
                                <select id="drpPaymentType" name="" class="form-control">
                                    <option value="Null"> @SystemResource.choose_Cat  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Type</label>
                            <div class="col-9 col-md-8">
                                <select id="drpitem_family" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Item</label>
                            <div class="col-9 col-md-8 ">
                                <select id="txt_ID_APP_Type" name="" class="form-control" disabled></select>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>

        $(document).ready(function () {
            // Initialize select2
            $("#drpitem_family").select2();
            $("#txt_ID_APP_Type").select2();

            // Read selected option
            $('#but_read').click(function () {
                var username = $('#drpitem_family option:selected').text();
                var userid = $('#drpitem_family').val();

                var username = $('#txt_ID_APP_Type option:selected').text();
                var userid = $('#txt_ID_APP_Type').val();


                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script src="~/ClientApp/CollectionReports/Inventorymove.js"></script>

    <script>

        function myclaer() {


            $("#ShiftName option:selected").prop("selected", false);
            $("#ShiftName option:first").prop("selected", "selected");

            $("#PeriodName option:selected").prop("selected", false);
            $("#PeriodName option:first").prop("selected", "selected");

            $("#SrvTypeName").value = "";
            $("#SrvTypeCode").value = "";
            $("#ShiftCode").value = "";
            $("#PeriodCode").value = "";



        }

    </script>
}




