
@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<label for="rpTitle" style="display:none" id="rpTitle">@*@SystemResource.Rep_PayRecieptList*@</label>
<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12  col-xl-4">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3 align-self-center p-md-0"> @SystemResource.App_FromDate </label>
                                    <div class="col-9">
                                        <input type="date" class="form-control" name="txtFromDate" id="txtFromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-xl-4">
                                <div class="form-group row">
                                    <label for="txtToDate" class="col-3 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                                    <div class="col-9">
                                        <input type="date" class="form-control" name="txtToDate" id="txtToDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-xl-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.Pur_PaymentType</label>
                                    <div class="col-9 ">
                                        <select id="txt_PaymentType" name="" class="form-control">
                                            <option value="0">@SystemResource.App_credit</option>
                                            <option value="1">@SystemResource.Cash</option>
                                            <option value="2">@SystemResource.App_All</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-xl-4">
                                <div class="form-group row d-flex justify-content-center align-items-center">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.Men_AccDefVendor</label>
                                    <div class="col-9">
                                        <div class="search-content">
                                            <input disabled type="text" class="form-control search-control" id="txtVendorCode">
                                            <button type="button" name="Search" id="btnVendorSrch" class="btn btn-main btn-search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="form-group row g-0">
                                    <div class="col-9 offset-3 offset-xl-0 col-xl-12">
                                        <input type="text" class="form-control" disabled id="txtVendorName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-xl-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_Status</label>
                                    <div class="col-9 ">
                                        <select id="Authorized" name="" class="form-control">
                                            <option value="0">@SystemResource.App_All</option>
                                            <option value="1">@SystemResource.Authorized</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12  col-xl-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.choose_Cat</label>
                                    <div class="col-9 ">
                                        <select id="drpPaymentType" name="" class="form-control">
                                            <option value="Null"> @SystemResource.choose_Cat  </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-xl-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_Type</label>
                                    <div class="col-9 ">
                                        <select id="drpitem_family" name="" class="form-control"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12  col-xl-4">
                                <div class="form-group row">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_Item</label>
                                    <div class="col-9 ">
                                        <select id="txt_ID_APP_Type" name="" class="form-control" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                        <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7">نوع المشترريات </label>

                                    <div class="form-group col-8 col-md-10">
                                        <div class="row special-group">
                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                <div class="form-check d-inline-flex">
                                                    <input class="form-check-input form-radio special-radio" type="radio" id="InvTp1" name="InvTp" value="1" checked>
                                                    <label class="form-check-label my-auto me-3" for="InvTp1"> @SystemResource.Invoice </label>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                <div class="form-check  d-inline-flex">
                                                    <input class="form-check-input form-radio special-radio" type="radio" id="InvTp2" name="InvTp" value="1">
                                                    <label class="form-check-label my-auto me-3" for="InvTp2">مرتجع</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="form-check d-inline-flex">
                                                    <input class="form-check-input form-radio special-radio" type="radio" id="InvTp3" name="InvTp" value="1">
                                                    <label class="form-check-label my-auto me-3" for="InvTp3"> @SystemResource.App_All</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="row ">
                                    <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.CollectedBy</label>
                                    <div class="form-group col-8 col-md-10">
                                        <div class="row special-group">
                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                <div class="form-check d-inline-flex">
                                                    <input class="form-check-input form-radio special-radio" type="radio" id="reptp1" name="reptp" value="1" checked>
                                                    <label class="form-check-label my-auto me-3" for="reptp1"> @SystemResource.By_Vendor </label>
                                                </div>
                                            </div>
                                            <div class="col-12  col-xl-4">
                                                <div class="form-check  d-inline-flex">
                                                    <input class="form-check-input form-radio special-radio" type="radio" id="reptp2" name="reptp" value="1">
                                                    <label class="form-check-label my-auto me-3" for="reptp2"> @SystemResource.by_item</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="row ">
                                    <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.App_report_type</label>
                                    <div class="form-group col-8 col-md-10">
                                        <div class="row special-group">
                                            <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                                <div class="form-check d-inline-flex">
                                                    <input class="form-check-input form-radio special-radio" type="radio" id="reptype2" name="reptype" value="2" checked>
                                                    <label class="form-check-label my-auto me-3" for="reptype2"> @SystemResource.Summary </label>
                                                </div>
                                            </div>
                                            <div class="col-12  col-xl-4">
                                                <div class="form-check  d-inline-flex">
                                                    <input class="form-check-input form-radio special-radio" type="radio" id="reptype1" name="reptype" value="1">
                                                    <label class="form-check-label my-auto me-3" for="reptype1"> @SystemResource.Detailed</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>



@section Script{
    <script>
        $(document).ready(function () {
            // Initialize select2
            $("#drpitem_family").select2();
            $("#txt_ID_APP_Type").select2();

            // Read selected option
            $('#but_read').click(function () {
                var username = $('#drpitem_family option:selected').text();
                var userid = $('#drpitem_family').val();

                var username = $('#txt_ID_APP_Type option:selected').text();
                var userid = $('#txt_ID_APP_Type').val();


                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>

    <script src="~/ClientApp/CollectionReports/ItemPurchase.js"></script>

    <script>

        function myclaer() {


            $("#ShiftName option:selected").prop("selected", false);
            $("#ShiftName option:first").prop("selected", "selected");

            $("#PeriodName option:selected").prop("selected", false);
            $("#PeriodName option:first").prop("selected", "selected");

            $("#SrvTypeName").value = "";
            $("#SrvTypeCode").value = "";
            $("#ShiftCode").value = "";
            $("#PeriodCode").value = "";



        }

    </script>
}

