@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<label for="rpTitle" style="display:none" id="rpTitle">@*@SystemResource.Rep_PayRecieptList*@</label>

<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                                    <div class="col-8">
                                        <input type="date" class="form-control" name="txtFromDate" id="txtFromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label for="txtToDate" class="col-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                                    <div class="col-8">
                                        <input type="date" class="form-control" name="txtToDate" id="txtToDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.activity_Nature</label>
                                    <div class="col-8 ">
                                        <select id="txtVendorType" name="" class="form-control">
                                            <option value="Null">@SystemResource.App_Everybody</option>
                                            <option value="1">@SystemResource.vendor_good</option>
                                            <option value="2"> @SystemResource.Service_supplier</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.APP_Category</label>
                            <div class="col-8 ">
                                <select id="txt_ID_APP_Category" name="" class="form-control">
                                    <option value="Null"> @SystemResource.choose_Cat </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Group</label>
                            <div class="col-8 ">
                                <select id="txt_ID_APP_Group" name="" class="form-control">
                                    <option value="Null">@SystemResource.Choose_group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">    ادراج الحركات الجديدة ؟</label>
                            <div class="col-8 ">
                                <input id="CheckboxStatus" type="checkbox" class="form-check-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.I_Vendor</label>
                            <div class="col-8 ">
                                <select id="txt_ID_Vendor" name="" class="form-control">
                                    <option value="Null">@SystemResource.App_Everybody</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_indebtedness</label>
                            <div class="col-8 ">
                                <select id="txt_indebtedness" name="" class="form-control">
                                    <option value="All">@SystemResource.App_All</option>
                                    <option value=">">@SystemResource.App_He_Owes_Him </option>
                                    <option value="<">@SystemResource.App_an_indebtedness</option>
                                    <option value="=">@SystemResource.App_Zero </option>
                                    <option value="!">رصيد غير صفري </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">ادراج العمليات النقدية ؟ </label>
                            <div class="col-8 ">
                                <input id="checkboxCash" type="checkbox" class="form-check-input">
                            </div>
                        </div>
                    </div>

                 

                    <div class="col-12 col-md-6  mt-2">
                        <div class="row special-group">
                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.App_report_type</label>
                            <div class="form-group col-8 col-md-10">
                                <div class="row">
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_detail" name="details" value="1" checked>
                                            <label class="form-check-label my-auto me-3" for="Rd_detail"> @SystemResource.Detailed </label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check  d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_sum" name="details" value="2">
                                            <label class="form-check-label my-auto me-3" for="Rd_sum"> @SystemResource.Summary</label>
                                        </div>
                                    </div>
                                    <div class="col-12  col-xl-4  display_none">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Ladger" name="details" value="2">
                                            <label class="form-check-label my-auto me-3" for="Rd_Ladger"> @SystemResource.vendormaster</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6  mt-2">
                        <div class="row special-group">
                            <label class="col-4 col-md-2 align-self-center p-md-0 text-blue fw-bold fs-7"> @SystemResource.OrderBy</label>
                            <div class="form-group col-8 col-md-10">
                                <div class="row">
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Code" name="orderby" value="1" checked>
                                            <label class="form-check-label my-auto me-3" for="Rd_Code"> @SystemResource.App_Code </label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-n3 mb-xl-0 col-xl-4">
                                        <div class="form-check  d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Name" name="orderby" value="2">
                                            <label class="form-check-label my-auto me-3" for="Rd_Name"> @SystemResource.App_Name</label>
                                        </div>
                                    </div>
                                    <div class="col-12  col-xl-4">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio special-radio" type="radio" id="Rd_Bal" name="orderby" value="3">
                                            <label class="form-check-label my-auto me-3" for="Rd_Bal"> @SystemResource.App_Balance</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            $("#txt_ID_Vendor").select2();

            // Read selected option
            $('#but_read').click(function () {
                var username = $('#txt_ID_Vendor option:selected').text();
                var userid = $('#txt_ID_Vendor').val();


                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script src="~/ClientApp/CollectionReports/Supplieraccstat.js"></script>
    <script>
        function myclaer() {
            $("#ShiftName option:selected").prop("selected", false);
            $("#ShiftName option:first").prop("selected", "selected");

            $("#PeriodName option:selected").prop("selected", false);
            $("#PeriodName option:first").prop("selected", "selected");

            $("#SrvTypeName").value = "";
            $("#SrvTypeCode").value = "";
            $("#ShiftCode").value = "";
            $("#PeriodCode").value = "";
        }
    </script>
}