@using Inv.WebUI.Resources
@{
    ViewBag.Title = "Accountstatement";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3" id="divnotifications">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" >
            <div class="card-body" >
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                                    <div class="col-9 col-md-8">
                                        <input id="txtFromDate" name="" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtToDate" class="col-3 col-md-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                                    <div class="col-9 col-md-8">
                                        <input id="txtToDate" name="" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group row d-flex justify-content-center align-items-center">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Professor_account_No </label>
                                    <div class="col-9 col-md-8">

                                        <div class="search-content">
                                            <input id="txtFromAcc_ID" name="" type="text" class="form-control" disabled>
                                            <button type="button" id="btnFromAccSearch" name="InvoiceSearch" class="btn btn-main btn-search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row ">
                                    <div class="col-9 offset-3 col-md-12 offset-md-0">
                                        <input id="txtFromAcc_DESC" name="" type="text" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group row d-flex justify-content-center align-items-center">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.menu_Costcenter </label>
                                    <div class="col-9 col-md-8">

                                        <div class="search-content">
                                            <input id="txtCenter_Cost_ID" name="" type="text" class="form-control" disabled="disabled">
                                            <button type="button" id="btnCCostSearch" name="InvoiceSearch" class="btn btn-main btn-search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <div class="col-9 offset-3 col-md-12 offset-md-0">
                                        <input id="txtCenter_Cost_DESC" name="" type="text" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-2 col-md-2 align-self-center p-md-0"> @SystemResource.insert_restrictions</label>
                                    <div class="col-10 col-md-10">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="form-check row g-0">
                                                    <label class="col-6 col-md-6  form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.Certification</label>
                                                    <div class="col-6 col-md-6 ">
                                                        <input class="form-check-input" type="checkbox" id="chk_Certified" name="CUSTOM6">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-check row g-0">
                                                    <label class="col-6 col-md-6 form-check-label align-self-center p-md-0" for="chk_New"> @SystemResource.newest</label>
                                                    <div class="col-6 col-md-6 ">
                                                        <input class="form-check-input" type="checkbox" id="chk_New" name="CUSTOM6">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-check row g-0">
                                                    <label class="col-6 col-md-6 form-check-label align-self-center p-md-0" for="chk_New">ادراج حركات المتاجرة</label>
                                                    <div class="col-6 col-md-6 ">
                                                        <input class="form-check-input" type="checkbox" id="chk_IncludeInvTR" name="CUSTOM6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-3 col-md-2 align-self-center p-md-0">الترتيب</label> 
                                    <div class="col-9 offset-3 col-md-4 offset-md-0"> 
                                        <select class="form-control" id="dbOrderBy" >
                                            <option value="1">الرصيد  </option>
                                            <option value="2"> الرقم </option>
                                            <option value="3">الاسم  </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="form-group row">
                            <label class="col-4"> @* Empty For Responsive*@ </label>
                            <div class="col-8  special-group">
                                <div class="row">

                                    <div class="form-check col-3 d-flex justify-content-center">
                                        <label class="form-check-label"> غير صفري</label>
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <label class="form-check-label"> @SystemResource.App_Debtor  </label>
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <label class="form-check-label"> @SystemResource.App_Creditor</label>
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <label class="form-check-label"> @SystemResource.App_Zero</label>
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <label class="form-check-label"> @SystemResource.App_All</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 m-auto"> @SystemResource.First_bal</label>
                            <div class="col-8  special-group">
                                <div class="row">

                                    <div class="form-check col-3 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="IsF_AEnable" name="IsF_termEnable" value="nZ">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="IsF_termEnable" value="D">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="" name="IsF_termEnable" value="C">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="" name="IsF_termEnable" value="Z">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio"  name="IsF_termEnable" value="A">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 m-auto"> @SystemResource.period_movement</label>
                            <div class="col-8  special-group">
                                <div class="row">

                                    <div class="form-check col-3 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="IsM_AEnable"   name="IsMoveEnable" value="nZ">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="IsMoveEnable" value="D">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="" name="IsMoveEnable" value="C">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="" name="IsMoveEnable" value="Z">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio"  name="IsMoveEnable" value="A">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 m-auto"> @SystemResource.closing_balance</label>
                            <div class="col-8  special-group">
                                <div class="row">

                                    <div class="form-check col-3 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio"  id="IsE_AEnable"  name="IsE_termEnable" value="nZ">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="" name="IsE_termEnable" value="D">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="" name="IsE_termEnable" value="C">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio" id="" name="IsE_termEnable" value="Z">
                                    </div>
                                    <div class="form-check col-2 d-flex justify-content-center">
                                        <input class="form-check-input form-radio special-radio m-auto" type="radio"name="IsE_termEnable" value="A">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="~/ClientApp/GeneralLedger/Accountbalances.js"></script> 
    }