@using Inv.WebUI.Resources
@{
    ViewBag.Title = "Accountstatement";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3" id="divnotifications">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" >
            <div class="card-body" >
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label for="txtFromDate" class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input id="txtFromDate" name="" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label id="todate" class="col-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input id="txtToDate" name="" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 mt-n2">
                        <div class="form-check row g-0">
                            <label class="col-6 col-md-7  form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.Hide_zero_accounts</label>
                            <div class="col-6 col-md-5 ">
                                <input class="form-check-input" type="checkbox" id="chkview" name="CUSTOM6">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row special-group">
                            <label class="col-2 col-md-2 align-self-center p-md-0"> @SystemResource.insert_restrictions</label>
                            <div class="col-10 col-md-10">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-check row g-0">
                                            <label class="col-6 col-md-6  form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.Certification</label>
                                            <div class="col-6 col-md-6 ">
                                                <input class="form-check-input" type="checkbox" id="chk_Certified" name="CUSTOM6">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-check row g-0">
                                            <label class="col-6 col-md-6 form-check-label align-self-center p-md-0" for="chk_New"> @SystemResource.newest</label>
                                            <div class="col-6 col-md-6 ">
                                                <input class="form-check-input" type="checkbox" id="chk_New" name="CUSTOM6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label for="txtFromDate" class="col-4 align-self-center p-md-0">@SystemResource.level</label>
                            <div class="col-8">
                                <select id="txt_ID_level" name="" class="form-control">
                                    <option value="Null">@SystemResource.App_All</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 mt-n3">
                        <div class="form-group row">
                            <div class="col-12 ">
                                <div class="form-check d-inline-flex ms-4">
                                    <label class="form-check-label my-auto me-3" for="Rd_detail"> @SystemResource.Trial_Balance </label>
                                    <input class="form-check-input form-radio special-radio" type="radio" id="IsAEnable" name="IsEnable" value="0" checked>
                                </div>
                                <div class="form-check d-inline-flex ms-4">
                                    <label class="form-check-label my-auto me-3" for="Rd_sum"> @SystemResource.Profit_loss</label>
                                    <input class="form-check-input form-radio special-radio" type="radio" id="IsBEnable" name="IsEnable" value="1">
                                </div>
                                <div class="form-check d-inline-flex ms-4">
                                    <label class="form-check-label my-auto me-3" for="Rd_custmastr"> @SystemResource.Budget</label>
                                    <input class="form-check-input form-radio special-radio" type="radio" id="Is_h_Enable" name="IsEnable" value="2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row special-group">
                            <label class="col-2 col-md-2 align-self-center p-md-0"> @SystemResource.App_report_type</label>
                            <div class="col-10 col-md-10">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-check row g-0">
                                            <label class="col-6 col-md-6  form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.width_Print</label>
                                            <div class="col-6 col-md-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="chkLandscapePrint" name="RepType" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-check row g-0">
                                            <label class="col-6 col-md-6 form-check-label align-self-center p-md-0" for="chk_New"> @SystemResource.Length_Print</label>
                                            <div class="col-6 col-md-6 ">
                                                <input class="form-check-input form-radio special-radio" type="radio" id="chkLengthPrint" name="RepType" value="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="form-group row g-0 d-flex justify-content-center align-items-center">
                                    <label class="col-3 col-md-4 align-self-center p-md-0" id="CostCenterl">@SystemResource.menu_Costcenter </label>
                                    <div class="col-9 col-md-8">
                                        <div class="search-content">
                                            <input id="txtCenter_Cost_ID" name="" type="text" class="form-control" disabled>
                                            <button type="button" id="btnCCostSearch" name="InvoiceSearch" class="btn btn-main btn-search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group row g-0">
                                    <label class="align-self-center p-md-0"></label>
                                    <div class="col-12">
                                        <input id="txtCenter_Cost_DESC" name="" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script src="~/ClientApp/GeneralLedger/financialreports.js"></script>
    }
