@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccDefCustomer;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Side Icon Bar -->
<div class="main-iconbar" id="Div_control">
    <button class="icon-bar d-flex justify-content-between btnadd" disabled id="btnadd">
        <i class="fas fa-folder-plus fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">  @SystemResource.App_Add</span>
    </button>
    <button class="icon-bar d-flex justify-content-between btnDelete" disabled id="btnDelete">
        <i class="fas fa-trash-alt fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3"> @SystemResource.App_Delete</span>
    </button>
    <button class="icon-bar d-flex justify-content-between btnedite" disabled id="btnedite">
        <i class="fas fa-edit side-icon ms-1"></i>
        <span class="align-self-center mb-3">   @SystemResource.App_Update </span>
    </button>
    <button class="icon-bar d-flex justify-content-between btnsave display_none" id="btnsave">
        <i class="fas fa-save fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">   @SystemResource.App_save </span>
    </button>
    <button class="icon-bar d-flex justify-content-between btnback display_none" id="btnback">
        <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">  @SystemResource.App_back</span>
    </button>
</div>
<div class="row  gy-3" id="content_report">
    <div class="col-12 col-md-6 ">
        <div class="card bg-light-blue @*h-100*@" style="height: 140% !important;">
            <div class="card-body px-1">
                <div class="row">
                    <div id="" class="col-12 account-menu">
                        <div class="row">
                            <div class="col-8 offset-1">
                                <input id="txt_Search" name="Search" type="text" class="form-control" placeholder="بحث ">
                            </div>
                            <div class="col-3">
                                <span data-toggle="collapse" class="d-flex justify-content-start align-content-start">
                                    <a id="Refrash" class="Refrash" href="#" title="Refrash">
                                        <span data-toggle="collapse">
                                            <i id="RE" class="fas fa-sync-alt fs-5 text-blue btn-refresh"></i>
                                        </span>
                                    </a>
                                </span>
                            </div>
                        </div>
                   
                    </div>
                    <div id="left" class="col-12 account-menu">
                        <ul id="menu-group-1" class="main-menu"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 ">
        <div class="card bg-light-blue @*h-100*@" style="height: 140% !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.p_account_number</label>
                            <div class="col-8 ">
                                <input id="txt_ACC_CODE" disabled name="ACC_CODE" type="text" class="form-control" placeholder=" @SystemResource.App_account_numbe ">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1">
                        <div class="form-group row g-0">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Active</label>
                            <div class="col-8 ">
                                <input type="checkbox" class="checkbox" id="chkeck_active" disabled name="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_DescA</label>
                            <div class="col-8 ">
                                <input id="txt_NAME_A" disabled name="NAMEA" type="text" class="form-control" placeholder=" @SystemResource.App_DescA ">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_DescE</label>
                            <div class="col-8 ">
                                <input id="txt_NAME_E" disabled name="NAMEA" type="text" class="form-control" placeholder=" @SystemResource.App_DescE  ">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.account_type</label>
                            <div class="col-8 ">
                                <select id="txt_Type" name="" disabled class="form-control">
                                    <option value="null"> نوع الحساب </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.OriginNode</label>
                            <div class="col-8 mb-n2">
                                <label id="Name_Acc"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.instructions</label>
                            <div class="col-8 ">
                                <textarea id="txt_note" disabled name="REMARKS" type="text" class="form-control" placeholder="@SystemResource.instructions"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Balancelimit</label>
                            <div class="col-8 ">
                                <input id="txt_CreditLimit" disabled name="CreditLimit" type="number" class="form-control" placeholder=" @SystemResource.Balancelimit  ">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-4" id="div_Balance">
                        <div class="row special-group">
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.App_openBalance</label>
                                    <div class="col-8 ">
                                        <input id="txt_Openbalance" disabled name="Openbalance" type="number" class="form-control" placeholder=" @SystemResource.App_openBalance">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.App_Debtor</label>
                                    <div class="col-8 ">
                                        <input id="txt_Debit" disabled name="Debit" type="number" class="form-control" placeholder="@SystemResource.App_Debtor">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.App_Creditor</label>
                                    <div class="col-8 ">
                                        <input id="txt_DebitFC" disabled name="Credit" type="number" class="form-control" placeholder="  @SystemResource.App_Creditor ">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.App_Balanc</label>
                                    <div class="col-8 ">
                                        <input id="txt_balance" disabled name="" type="number" class="form-control" placeholder="@SystemResource.App_Balanc">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.level</label>
                                    <div class="col-8 ">
                                        <input id="txt_level" disabled name="" type="number" class="form-control" placeholder="@SystemResource.level">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 offset-md-1">
                                <div class="form-group row g-0">
                                    <label class="col-4 align-self-center p-md-0">@SystemResource.Detailed</label>
                                    <div class="col-8 ">
                                        <input type="checkbox" class="checkbox" id="chkeck_Detailed" disabled name="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Editors Details -->
                    <div class="insettext row editor-details  mt-2">
                        <div class="col-12 col-lg-6">
                            <div class="form-group row g-0">
                                <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                                <div class="col-4 col-xl-4 editor-input">
                                    <input id="txtCreatedBy" name="CREATED_BY" type="text" disabled>
                                </div>
                                <div class="col-4 col-xl-6 editor-input">
                                    <input id="txtCreatedAt" name="CREATED_AT" type="text" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group row g-0">
                                <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Update</label>
                                <div class="col-4 col-xl-4  editor-input">
                                    <input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled>
                                </div>
                                <div class="col-4 col-xl-6 editor-input">
                                    <input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/ClientApp/GeneralLedger/GLDefAccount.js"></script>

}
