@using Inv.WebUI.Resources
@{ 
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3" id="div_ContentData">
    <!-- Filter Container -->
    <div id="div_Add" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row gy-md-5">
                    <div class="col-12 col-md-4 ">
                            <div class="col-12 d-flex justifycontent-center">  <label class="text-blue fw-bold fs-5 ">القسائم</label></div>
                            <div class="col-12  d-flex justify-content-center">
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.Type_restriction</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="IsRestriction" checked name="radio" value="1">
                                    </div>
                                </div>
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">نوع القبض</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="IsCapture" name="radio" value="2">
                                    </div>
                                </div>
                                <div class="form-check  row">
                                    <label class="col-12 text-blue">@SystemResource.App_Drainage_Type</label>
                                    <div class="col-12">
                                        <input class="form-check-input form-radio special-radio" type="radio" id="IsDrainage" name="radio" value="3">
                                    </div>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table  -->
    <div class="col-12 display_none" id="divShow">
        <div class="inside-table my-4">
            <div class="table-responsive">
                <table class="table table-borderless ">
                    <thead>
                        <tr>
                            <th class="" style="width: 1%"></th>
                            <th style="width: 5%"> @SystemResource.App_Code </th>
                            <th style="width: 15%">@SystemResource.App_DescA</th>
                            <th style="width: 15%">@SystemResource.App_DescE </th>
                        </tr>
                    </thead>
                    <tbody id="div_Data"></tbody>

                </table>
                <div class="d-flex justify-content-start mr-1">
                    <span id="btnAddDetails" class="mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                </div>
            </div>
        </div>
    </div>


</div>

@section Script{

    <script src="~/ClientApp/GeneralLedger/VoucherType.js"></script>
    }
